.articles-form
	.wrap
		.container
			form
				.row
					.row.small-collapse.medium-uncollapse
						h2.text-center Получите эксклюзивное предложение
						.small-12.medium-6.medium-offset-3.large-4.large-offset-0.column
							input(type="text" placeholder="Ваше имя" name="name" id="name")
						.small-12.medium-6.medium-offset-3.large-4.large-offset-0.column
							input(type="text" placeholder="Контактный телефон" name="phone" id="phone")
						.small-12.medium-6.medium-offset-3.large-4.large-offset-0.column
							input(type="email" placeholder="Электронная почта" name="email" id="email")
					.row.small-collapse.medium-uncollapse
						.small-12.medium-6.large-4.medium-offset-3.large-offset-4.column
							button.button.button-yellow(type="submit") Получить предложение!