include ../../blocks/card/_card.jade
include ../../blocks/heading/_heading.jade
.articles-main.column.medium-8.large-9
	h4.articles-heading Голландия
	#map-holland.map-block
	p
		| Главой государства является королева Беатрикс (династия Оранских – Нассау), вступившая на престол 30 апреля 1980.
	p
		|Хотя в Голландии власть монарха ограничена и он должен совещаться с правительством, все же его мнение играет решающую роль при назначении премьер-министра. Все политические акты совершаются от имени королевы.
	p
		|Исполнительная власть осуществляется королевой и правительством.
	p
		|Нидерланды расположены в Западной Европе.
	p
		|Они граничат: на востоке с Германией; на юге – с Бельгией; северные и западные берега омываются Северным морем.
	p
		|Часто страну называют Голландией по названию самой богатой и влиятельной из семи провинций, первоначально входивших в Республику Соединенных провинций Нидерландов в 16 веке. Голландия всегда старалась оставаться самостоятельной и независимой страной.
	p
		|В состав Королевства Нидерландов, помимо основной территории в Европе, входят: Нидерландские Антильские острова; остров Аруба в Вест-Индии;
	+heading("СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ")
	.offer-wrap
		.offer
			+card("img/amsterdam.jpg","Сказочный Амстердам", "56 220 руб.", "52 200 руб.", "#", "Сказочный Амстердам")(class="card__offers")
		.offer
			+card("img/belgia.jpg","Романтичная Бельгия","64 950 руб.", "58 950 руб.", "#", "Романтичная Бельгия")(class="card__offers")
		.offer
			+card("img/amsterdam.jpg","Офигительный Бенилюкс", "19 925 руб.", "17 925 руб.", "#", "Офигительный Бенилюкс")(class="card__offers")
		.offer
			+card("img/amsterdam.jpg","Сказочный Амстердам", "56 220 руб.", "52 200 руб.", "#", "Сказочный Амстердам")(class="card__offers")
	.articles-info
		dl
			dt Общая площадь: 
			dd 41 528 кв.км;
		dl
			dt Площадь суши:
			dd 33 783 кв.км;
		dl
			dt Площадь рек и озер:
			dd 7 745 кв.км;
		dl
			dt Площадь сухопутных границы:
			dd Бельгия-450 км; Германия-577 км;
		dl
			dt Столица: 
			dd Амстердам;
		dl
			dt Население: 
			dd 15,8 млн.чел;
		dl
			dt Язык:
			dd голландский-(нидерландский);второй язык-фризский; английский-знает почти все население страны; также в ходу французский и немецкий языки;
		dl
			dt Время:
			dd отстает от московского на 2 часа;
		dl
			dt Валюта:
			dd
				| 1 Euro=100 центов; 
				br
				|Банкноты: 500, 200, 100, 50, 20, 10 и 5 евро; 
				br
				| Монеты: 2 и 1 евро; 50, 20, 10, 5, 2 и 1 евро-центов;
		dl
			dt Напряжение в сети:
			dd 220 вольт;
		dl
			dt Кредитные карточки:
			dd American Express; Diners Club; Eurocard; Mastercard; Access Card; Visa Card
	.articles-pager.text-right
		a(href="#").prev
			| Туризм в Амстердаме
		a(href="#").next
			| Туры в Амстердам на майские праздники
