.aside.column.medium-4.large-3
	ul.aside-menu
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/netherlands.png")
				| Голландия
			ul.second-line
				li
					a.second-line-link.active(href="#") Экскурсии
					ul.third-line
						li
							a(href="#") 1 Item
						li
							a(href="#") 2 Item
				li
					a(href="#") Полезная информация
				li
					a(href="#") Ярмарки и выставки
				li
					a(href="#") Парки развлечений
				li
					a(href="#") Достопримечательности
				li
					a(href="#") Национальная кухня
				li
					a(href="#") Национальные праздники
				li
					a(href="#") Природа и окружающая среда
				li
					a(href="#") Туры в Амстердам
				li
					a(href="#") Туризм в Амстердаме
				li
					a(href="#") Погода в Амстердаме
				li
					a(href="#") Туры в Амстердам на майские праздники
				li
					a(href="#") Викенд в Амстердаме
				li
					a(href="#") Туры в Нидерланды
				li
					a(href="#") Туры по Голландии
				li
					a(href="#") Экскурсии а Амстердаме
				li
					a(href="#") Экскурсионные туры в Голландии
				li
					a(href="#") Экскурсии в Голландии
				li
					a(href="#") Экскурсии в Нидерландах
				li
					a(href="#") Достопримечательности Голландии
				li
					a(href="#") Площадь Голландии
				li
					a(href="#") Природа Голландии
				li
					a(href="#") Все о Голландии
				li
					a(href="#") Курорты Северного моря
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/germany.png")
				| Германия
			ul.second-line
				li
					a.second-line-link.active(href="#") Экскурсии
				li
					a(href="#") Полезная информация
				li
					a(href="#") Ярмарки и выставки
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/belgium.png")
				| Бельгия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/italy.png")
				| Италия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/switzerland.png")
				| Швейцария
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/hungary.png")
				| Венгрия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/austria.png")
				| Австрия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/slovenia.png")
				| Словения
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/france.png")
				| Франция
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/spain.png")
				| Испания
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/czech-republic.png")
				| Чехия
		li
			a.aside-link(href="#")
				img.img-flag(src="img/flags/luxembourg.png")
				| Люксембург


