#booking-steps.booking-steps.reveal-modal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
	ul.tabs(data-tab)
		li.tab-title.disabled Шаг 1
		li.tab-title.active: a(href="#step-2") Шаг 2
		li.tab-title: a(href="#step-3") Шаг 3
		li.tab-title: a(href="#step-4") Шаг 4
	.tabs-content
		.content.clearfix.active#step-2
			.flex
				.left-box
					img(src="img/photo-7.jpg")
					.info
						h6 ВЕЧЕРНИЙ АМСТЕРДАМ
						p
							| Планета была известна людям с глубокой древности, что нашло своё отражение в мифологии и религиозных верованиях различных культур: месопотамской, вавилонской, греческой и других. Современное название Юпитера происходит от имени древнеримского верховного бога-громовержца.
						a(href="#") Подробнее
				.right-box
					h5 Люди
					.tabs-content-body
						form
							.row
								.row
									.small-12.medium-4.columns
										label(for="right-label") Взрослые
									.small-6.medium-3.large-2.columns.end
										select(type="text" id="adults-qty" name="adults-qty")
											option 1
											option 2
											option 3
											option 4
											option 5
											option 6
											option 7
											option 8
											option 9
											option 10
								.row
									.small-12.medium-4.columns
										label(for="right-label") Дети 
											span (до 1 года)
									.small-6.medium-3.large-2.columns.end
										select(type="text" id="adults-qty" name="adults-qty")
											option 1
											option 2
											option 3
											option 4
											option 5
											option 6
											option 7
						button.button.button-yellow.right(type="button") Далее
		.content.clearfix#step-3
			.flex
				.left-box
					.info
						h6 ВЕЧЕРНИЙ АМСТЕРДАМ
						.tabs-info-body
							h6 Дата выезда / Дата возвращения
							table
								tbody
									tr
										td Дата выезда:
										td.text-right 15 мая 2015 г.
									tr
										td Дата возвращения:
										td.text-right 22 мая 2015 г.
						.tabs-info-body
							h6 Авиарейсы
							table
								tbody
									tr
										td Название 1:
										td.text-right HV 5807 AVS - SKG - 15 мая 2015 г.
									tr
										td Название 2:
										td.text-right HV 5807 AVS - SKG - 15 мая 2015 г.
						.tabs-info-body
							h6 Цена
							table
								tbody
									tr
										td Описание 1:
										td.text-right 15 990 руб.
									tr
										td Описание 2:
										td.text-right(style="padding-bottom: 15px;") 273 876 руб.
								tfoot
									tr
										td Итого:
										td.text-right 998 678 руб.
						h6 Как это работает?
						p
							| Планета была известна людям с глубокой древности, что нашло своё отражение в мифологии и религиозных верованиях различных культур.

				.right-box
					h5 Персональные данные
					.tabs-content-body
						form
							.row
								.row
									.small-12.medium-6.columns
										input(type="text" name="name" id="name" placeholder="Имя")
									.small-12.medium-6.columns
										input(type="text" name="surname" id="surname" placeholder="Фамилия")
								.row
									.small-12.medium-6.columns
										input(type="text" name="phone" id="phone" placeholder="Контактный телефон")
									.small-12.medium-6.columns
										input(type="email" name="email" id="email" placeholder="Электронная почта")
						button.button.button-yellow.right(type="button") Далее
		.content.clearfix#step-4
			.flex
				.left-box
					img(src="img/photo-7.jpg")
					.info
						h6 ВЕЧЕРНИЙ АМСТЕРДАМ
						p
							| Планета была известна людям с глубокой древности, что нашло своё отражение в мифологии и религиозных верованиях различных культур: месопотамской, вавилонской, греческой и других. Современное название Юпитера происходит от имени древнеримского верховного бога-громовержца.
						a(href="#") Подробнее
				.right-box
					h5 Выберите способ оплаты
					.tabs-content-body
						form.form
							label.cb-radio.cb-sm
								span.right iDeal
								input(type="radio" name="payment-type" value="ideal" id="ideal")
								img(src="img/ideal.jpg")
							label.cb-radio.cb-sm
								span.right Master Card
								input(type="radio" name="payment-type" value="master-card" id="master-card")
								img(src="img/master-card.jpg")
							label.cb-radio.cb-sm
								span.right Visa
								input(type="radio" name="payment-type" value="visa" id="visa")
								img(src="img/visa.jpg")
							label.cb-radio.cb-sm
								span.right PayPal
								input(type="radio" name="payment-type" value="paypal" id="paypal")
								img(src="img/paypal.jpg")
						button.button.button-yellow.right(type="button") Далее