.popup
	form.form
		.date 15 мая 2015 г.
		.hotel-box
			.hotel-type Отель 3*
			table
				tr
					td
						label.cb-radio.cb-sm
							input(type="radio" name="hotel_3-room" value="1")
							| 1 местный номер
					td.room-price 6 569 руб.
				tr
					td
						label.cb-radio.cb-sm
							input(type="radio" name="hotel_3-room" value="2")
							|2х местный номер
					td.room-price 7 823 руб.
				tr
					td
						label.cb-radio.cb-sm
							input(type="radio" name="hotel_3-room" value="3")
							| 3х местный номер
					td.room-price 8 522 руб.
				tr
					td
						label.cb-radio.cb-sm
							input(type="radio" name="hotel_3-room" value="4")
							| 4х местный номер
					td.room-price 10 569 руб.
		.hotel-box
			.hotel-type Отель 3*
			table
				tr
					td
						label.cb-radio.cb-sm
							input(type="radio" name="hotel_3-room" value="1")
							| 1 местный номер
					td.room-price 6 569 руб.
				tr
					td
						label.cb-radio.cb-sm
							input(type="radio" name="hotel_3-room" value="2")
							|2х местный номер
					td.room-price 7 823 руб.
				tr
					td
						label.cb-radio.cb-sm
							input(type="radio" name="hotel_3-room" value="3")
							| 3х местный номер
					td.room-price 8 522 руб.
				tr
					td
						label.cb-radio.cb-sm
							input(type="radio" name="hotel_3-room" value="4")
							| 4х местный номер
					td.room-price 10 569 руб.
	.popup-button.right
		button.button-yellow(type="button" data-reveal-id="booking-steps") далее
