include ../../blocks/heading/_heading.jade
#tour-gallery.tour-gallery
	.wrap
		.container
			+heading("Фотогалерея")
			.flex
				img(src="img/photo-1.jpg")
				img(src="img/photo-2.jpg")
				img(src="img/photo-3.jpg")
				img(src="img/photo-4.jpg")
				img(src="img/photo-5.jpg")
				img(src="img/photo-6.jpg")