include ../../blocks/heading/_heading.jade
#tour-hotels.tour-hotels
	.container
		+heading("Гостиницы")
		ul.accordion.accordion-outer(role="tablist" data-accordion)
			li.accordion-navigation.accordion-navigation-outer
				a(href="#panel-1" role="tab" aria-controls="panel-1") ОТЕЛИ 4*
				#panel-1.content.content-outer(role="tabpanel")
					ul.accordion.accordion-inner(role="tablist" data-accordion)
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-5" role="tab" aria-controls="hotel-5") Lindner Hotel City Plaza 4*
							span (Кельн)
							#hotel-5.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-5-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-5-2") Фотогалерея
									li.tab-title: a(href="#tab-5-3") Номера
									li.tab-title: a(href="#tab-5-4") Услуги
									li.tab-title: a(href="#tab-5-5") Питание
									li.tab-title: a(href="#tab-5-6") Отдых и развлечения
									li.tab-title: a(href="#tab-5-7") Карта
								.tabs-content
									.content.active#tab-5-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-5-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-5-3
									.content#tab-5-4
									.content#tab-5-5
									.content#tab-5-6
									.content#tab-5-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-6" role="tab" aria-controls="hotel-6") Estherea 3*
							span (Амстердам)
							#hotel-6.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-6-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-6-2") Фотогалерея
									li.tab-title: a(href="#tab-6-3") Номера
									li.tab-title: a(href="#tab-6-4") Услуги
									li.tab-title: a(href="#tab-6-5") Питание
									li.tab-title: a(href="#tab-6-6") Отдых и развлечения
									li.tab-title: a(href="#tab-6-7") Карта
								.tabs-content
									.content.active#tab-6-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-6-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-6-3
									.content#tab-6-4
									.content#tab-6-5
									.content#tab-6-6
									.content#tab-6-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-3" role="tab" aria-controls="hotel-3") Academie 4*
							span (Брюгге)
							#hotel-3.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-3-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-3-2") Фотогалерея
									li.tab-title: a(href="#tab-3-3") Номера
									li.tab-title: a(href="#tab-3-4") Услуги
									li.tab-title: a(href="#tab-3-5") Питание
									li.tab-title: a(href="#tab-3-6") Отдых и развлечения
									li.tab-title: a(href="#tab-3-7") Карта
								.tabs-content
									.content.active#tab-3-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-3-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-3-3
									.content#tab-3-4
									.content#tab-3-5
									.content#tab-3-6
									.content#tab-3-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-4" role="tab" aria-controls="hotel-4") Hilton Brussels City 4*
							span (Брюссель)
							#hotel-4.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-4-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-4-2") Фотогалерея
									li.tab-title: a(href="#tab-4-3") Номера
									li.tab-title: a(href="#tab-4-4") Услуги
									li.tab-title: a(href="#tab-4-5") Питание
									li.tab-title: a(href="#tab-4-6") Отдых и развлечения
									li.tab-title: a(href="#tab-4-7") Карта
								.tabs-content
									.content.active#tab-4-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-4-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-4-3
									.content#tab-4-4
									.content#tab-4-5
									.content#tab-4-6
									.content#tab-4-7
			li.accordion-navigation.accordion-navigation-outer
				a(href="#panel-2" role="tab" aria-controls="panel-2") ОТЕЛИ 3-4*
				#panel-2.content.content-outer(role="tabpanel")
					ul.accordion.accordion-inner(role="tablist" data-accordion)
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-1" role="tab" aria-controls="hotel-1") Lindner Hotel City Plaza 4*
							span (Кельн)
							#hotel-1.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-1-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-1-2") Фотогалерея
									li.tab-title: a(href="#tab-1-3") Номера
									li.tab-title: a(href="#tab-1-4") Услуги
									li.tab-title: a(href="#tab-1-5") Питание
									li.tab-title: a(href="#tab-1-6") Отдых и развлечения
									li.tab-title: a(href="#tab-1-7") Карта
								.tabs-content
									.content.active#tab-1-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-1-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-1-3
									.content#tab-1-4
									.content#tab-1-5
									.content#tab-1-6
									.content#tab-1-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-2" role="tab" aria-controls="hotel-2") Estherea 3*
							span (Амстердам)
							#hotel-2.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-2-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-2-2") Фотогалерея
									li.tab-title: a(href="#tab-2-3") Номера
									li.tab-title: a(href="#tab-2-4") Услуги
									li.tab-title: a(href="#tab-2-5") Питание
									li.tab-title: a(href="#tab-2-6") Отдых и развлечения
									li.tab-title: a(href="#tab-2-7") Карта
								.tabs-content
									.content.active#tab-2-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-2-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-2-3
									.content#tab-2-4
									.content#tab-2-5
									.content#tab-2-6
									.content#tab-2-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-7" role="tab" aria-controls="hotel-7") Academie 4*
							span (Брюгге)
							#hotel-7.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-7-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-7-2") Фотогалерея
									li.tab-title: a(href="#tab-7-3") Номера
									li.tab-title: a(href="#tab-7-4") Услуги
									li.tab-title: a(href="#tab-7-5") Питание
									li.tab-title: a(href="#tab-7-6") Отдых и развлечения
									li.tab-title: a(href="#tab-7-7") Карта
								.tabs-content
									.content.active#tab-7-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-7-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-7-3
									.content#tab-7-4
									.content#tab-7-5
									.content#tab-7-6
									.content#tab-7-7
						li.accordion-navigation.accordion-navigation-inner
							a(href="#hotel-8" role="tab" aria-controls="hotel-8") Hilton Brussels City 4*
							span (Брюссель)
							#hotel-8.content.content-inner(role="tabpanel")
								.hotel-info
									.img-wrap
										img(src="img/hotel-1.jpg")
									.info-wrap
										p
											| Lindner Hotel City Plaza 4*
											br
											| Magnusstr. 20,50672 Кельн
										p
											|Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут. Отель Lindner City Plaza расположен в 2 минутах ходьбы от станции метро Friesenplatz и в 800 метрах от Западного железнодорожного вокзала Кельна. До аэропорта Кельн-Бонн можно добраться за 20 минут.
								ul.tabs(data-tab)
									li.tab-title.active: a(href="#tab-8-1") ОПИСАНИЕ
									li.tab-title: a(href="#tab-8-2") Фотогалерея
									li.tab-title: a(href="#tab-8-3") Номера
									li.tab-title: a(href="#tab-8-4") Услуги
									li.tab-title: a(href="#tab-8-5") Питание
									li.tab-title: a(href="#tab-8-6") Отдых и развлечения
									li.tab-title: a(href="#tab-8-7") Карта
								.tabs-content
									.content.active#tab-8-1
										p
											|Ресторан, Бар, Завтрак в номер, Мини-бар,Терраса, Номера для некурящих, Номера/Удобства для гостей с ограниченными физическими возможностями, Лифт, Сейф, Отопление, Кондиционер, Утюг, Доступны смежные номера
										dl
											dt Сервис:
											dd
												| Круглосуточная стойка регистрации, Ускоренная регистрация заезда/отъезда, Камера хранения багажа, Обслуживание номеров, Конференц-зал/Банкетный зал, Прачечная, Химчистка, Факс/Ксерокопирование, Услуги консьержа
										dl
											dt Интернет:
											dd
												|Wi-Fi предоставляется в номерах отеля за дополнительную плату.
												br
										dl
											dt Услуги по парковке машин:
											dd Частная парковка на месте (предварительный заказ не требуется) предоставляется за дополнительную плату.
									.content#tab-8-2
										.flex
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
											img(src="img/hotel-1.jpg")
									.content#tab-8-3
									.content#tab-8-4
									.content#tab-8-5
									.content#tab-8-6
									.content#tab-8-7