include ../../blocks/heading/_heading.jade
#tour-program.tour-program
	.wrap
		.container
			+heading("Программа тура")
			.tour-day
				h4 День 1
				ul
					li Прибытие в Дюссельдорф, трансфер в Кельн, размещение в гостинице “Lindner Hotel City Plaza” 4*(ex Renaissance 5*).<br>
					| Обзорная пешеходная экскурсия по Кельну с посещением Кельнского собора.
			.tour-day
				h4 День 2
				ul
					li Свободный день в Кельне
			.tour-day
				h4 День 3
				ul
					li Трансфер в Амстердам, прибытие и размещение в гостинице “Estherea” 4*. <br>
					li Обзорная пешеходная экскурсия по Амстердаму с посещением алмазной фабрики. <br>
					li Круиз на кораблике по каналам Амстердама.<br>
					li Вечером за дополнительную плату  экскурсия " Ночной Амстердам" ( стоимость экскурсии 12 евро с человека). 

			.tour-day
				h4 День 4
				ul
					li Экскурсия в Заансе Сханс, посещение музея ветряных мельниц, фабрики деревянных башмаков, сыроварни. <br>
					li Экскурсия в Волендам.
			.tour-day
				h4 День 5
				ul
					li Трансфер в Брюгге. По дороге – экскурсии по Генту. <br>
					li Прибытие в Брюгге, экскурсия по городу и размещение в отеле Academie 4* в Брюгге
			.tour-day
				h4 День 6
				ul
					li Трансфер в Брюссель, обзорная экскурсия по городу и размещение в гостинице “Hilton Brussels City” 4*.
			.tour-day
				h4 День 7
				ul
					li Переезд в Люксембург, размещение в гостинице “Novotel Kirchberg” 4*<br>
					li Обзорная экскурсия по Люксембургу.
			.tour-day
				h4 День 8
				ul

					li Экскурсия в Антверпен и Мехелен (Малин). <br>
					li Вечером трансфер в аэропорт Брюсселя, вылет в Москву.
			.tour-details.tour-info
				h4 В стоимость тура входит:
				ul
					li
						| Авиабилеты Москва - Дюссельдорф - Брюссель - Москва а/к "Аэрофлот"
						ul
							li С 29 марта 2015 до 24 мая 2015
							li Вылет из Москвы рейсом SU  2536  в 07.35 Прилет в Дюссельдорф в 09.55 
							li Вылет из Брюсселя рейсом SU  2619  в 23.40, Прилет в Москву в 04.15+1
							li Начина с 30.05.2015 перелет Москва- Амстердам- Москва а/к KLM
							li Вылет из Москвы рейсом KL900 в 05.45, прилет в Амстердам в 08.10 
							li Вылет из Амстердама рейсом KL907 в 21.15, прилет в Москву в 01.30+1
					li Трансфер из аэропорта до отеля и обратно с сопровождающим;
					li Проживание в отеле;
					li Завтраки;
					li Экскурсионная программа;
					li Медицинская страховка.
			.tour-footnote.tour-info
				h4 Примечания:
				ul
					li 
						|Для группы на базе  отелей 4* на даты: 
						ul
							li 30.05.15/04.07.15/11.07.15/08.08.15- группы пока не подтверждены
							li 13.06.15- в Брюгге группа будет проживать в отеле “Floris Karos” 3*
							li 23.05.15-в Брюгге группа будет проживать в отеле “Aragon” 4*
					li Для группы на базе отелей 3- 4* на даты:
						ul
							li 13.06.15- в Брюгге группа будет проживать в отеле “Floris Karos” 3*
			.tour-optional.tour-info
				h4 Дополнительная информация:
				ul
					li 
						|Дополнительно оплачивается оформление индивидуальной Шенгенской визы – 85 евро
