
<div class="popup">
  <form class="form">
    <div class="date">15 мая 2015 г.</div>
    <div class="hotel-box">
      <div class="hotel-type">Отель 3*</div>
      <table>
        <tr>
          <td>
            <label class="cb-radio cb-sm">
              <input type="radio" name="hotel_3-room" value="1"/>1 местный номер
            </label>
          </td>
          <td class="room-price">6 569 руб.</td>
        </tr>
        <tr>
          <td>
            <label class="cb-radio cb-sm">
              <input type="radio" name="hotel_3-room" value="2"/>2х местный номер
            </label>
          </td>
          <td class="room-price">7 823 руб.</td>
        </tr>
        <tr>
          <td>
            <label class="cb-radio cb-sm">
              <input type="radio" name="hotel_3-room" value="3"/>3х местный номер
            </label>
          </td>
          <td class="room-price">8 522 руб.</td>
        </tr>
        <tr>
          <td>
            <label class="cb-radio cb-sm">
              <input type="radio" name="hotel_3-room" value="4"/>4х местный номер
            </label>
          </td>
          <td class="room-price">10 569 руб.</td>
        </tr>
      </table>
    </div>
    <div class="hotel-box">
      <div class="hotel-type">Отель 3*</div>
      <table>
        <tr>
          <td>
            <label class="cb-radio cb-sm">
              <input type="radio" name="hotel_3-room" value="1"/>1 местный номер
            </label>
          </td>
          <td class="room-price">6 569 руб.</td>
        </tr>
        <tr>
          <td>
            <label class="cb-radio cb-sm">
              <input type="radio" name="hotel_3-room" value="2"/>2х местный номер
            </label>
          </td>
          <td class="room-price">7 823 руб.</td>
        </tr>
        <tr>
          <td>
            <label class="cb-radio cb-sm">
              <input type="radio" name="hotel_3-room" value="3"/>3х местный номер
            </label>
          </td>
          <td class="room-price">8 522 руб.</td>
        </tr>
        <tr>
          <td>
            <label class="cb-radio cb-sm">
              <input type="radio" name="hotel_3-room" value="4"/>4х местный номер
            </label>
          </td>
          <td class="room-price">10 569 руб.</td>
        </tr>
      </table>
    </div>
  </form>
  <div class="popup-button right">
    <button type="button" data-reveal-id="booking-steps" class="button-yellow">далее</button>
  </div>
</div>