
<div id="tour-prices" class="tour-prices">
  <div class="container">
    <div class="heading-wrap text-center">
      <div class="heading-line">
        <hr/>
      </div>
      <div class="heading-title">
        <h4>Цены</h4>
      </div>
    </div>
    <div class="popup">
      <form class="form">
        <div class="date">15 мая 2015 г.</div>
        <div class="hotel-box">
          <div class="hotel-type">Отель 3*</div>
          <table>
            <tr>
              <td>
                <label class="cb-radio cb-sm">
                  <input type="radio" name="hotel_3-room" value="1"/>1 местный номер
                </label>
              </td>
              <td class="room-price">6 569 руб.</td>
            </tr>
            <tr>
              <td>
                <label class="cb-radio cb-sm">
                  <input type="radio" name="hotel_3-room" value="2"/>2х местный номер
                </label>
              </td>
              <td class="room-price">7 823 руб.</td>
            </tr>
            <tr>
              <td>
                <label class="cb-radio cb-sm">
                  <input type="radio" name="hotel_3-room" value="3"/>3х местный номер
                </label>
              </td>
              <td class="room-price">8 522 руб.</td>
            </tr>
            <tr>
              <td>
                <label class="cb-radio cb-sm">
                  <input type="radio" name="hotel_3-room" value="4"/>4х местный номер
                </label>
              </td>
              <td class="room-price">10 569 руб.</td>
            </tr>
          </table>
        </div>
        <div class="hotel-box">
          <div class="hotel-type">Отель 3*</div>
          <table>
            <tr>
              <td>
                <label class="cb-radio cb-sm">
                  <input type="radio" name="hotel_3-room" value="1"/>1 местный номер
                </label>
              </td>
              <td class="room-price">6 569 руб.</td>
            </tr>
            <tr>
              <td>
                <label class="cb-radio cb-sm">
                  <input type="radio" name="hotel_3-room" value="2"/>2х местный номер
                </label>
              </td>
              <td class="room-price">7 823 руб.</td>
            </tr>
            <tr>
              <td>
                <label class="cb-radio cb-sm">
                  <input type="radio" name="hotel_3-room" value="3"/>3х местный номер
                </label>
              </td>
              <td class="room-price">8 522 руб.</td>
            </tr>
            <tr>
              <td>
                <label class="cb-radio cb-sm">
                  <input type="radio" name="hotel_3-room" value="4"/>4х местный номер
                </label>
              </td>
              <td class="room-price">10 569 руб.</td>
            </tr>
          </table>
        </div>
      </form>
      <div class="popup-button right">
        <button type="button" data-reveal-id="booking-steps" class="button-yellow">далее</button>
      </div>
    </div>
    <div class="flex">
      <div class="calendar-wrap">
        <div class="month">Май <span>2015</span></div>
        <table class="calendar">
          <thead>
            <tr>
              <th>Пн</th>
              <th>Вт</th>
              <th>Ср</th>
              <th>Чт</th>
              <th>Пт</th>
              <th>Сб</th>
              <th>Вс</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="day">1</td>
              <td class="day">2</td>
              <td class="day">3</td>
            </tr>
            <tr>
              <td class="day">4</td>
              <td class="day">5</td>
              <td class="day">6</td>
              <td class="day">7</td>
              <td class="day">8</td>
              <td class="day">9</td>
              <td class="day">10</td>
            </tr>
            <tr>
              <td class="day">11</td>
              <td class="day">12</td>
              <td class="day">13</td>
              <td class="day">14</td>
              <td class="day available">15</td>
              <td class="day">16</td>
              <td class="day">17</td>
            </tr>
            <tr>
              <td class="day">18</td>
              <td class="day">19</td>
              <td class="day">20</td>
              <td class="day">21</td>
              <td class="day">22</td>
              <td class="day">23</td>
              <td class="day">24</td>
            </tr>
            <tr>
              <td class="day">25</td>
              <td class="day">26</td>
              <td class="day">27</td>
              <td class="day">28</td>
              <td class="day">29</td>
              <td class="day">30</td>
              <td class="day">31</td>
            </tr>
            <tr>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="calendar-wrap">
        <div class="month">Июнь <span>2015</span></div>
        <table class="calendar">
          <thead>
            <tr>
              <th>Пн</th>
              <th>Вт</th>
              <th>Ср</th>
              <th>Чт</th>
              <th>Пт</th>
              <th>Сб</th>
              <th>Вс</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="day">1</td>
              <td class="day">2</td>
              <td class="day">3</td>
              <td class="day">4</td>
              <td class="day">5</td>
              <td class="day">6</td>
              <td class="day">7</td>
            </tr>
            <tr>
              <td class="day available">8</td>
              <td class="day">9</td>
              <td class="day">10</td>
              <td class="day">11</td>
              <td class="day available">12</td>
              <td class="day available">13</td>
              <td class="day available">14</td>
            </tr>
            <tr>
              <td class="day available">15</td>
              <td class="day available">16</td>
              <td class="day available">17</td>
              <td class="day available">18</td>
              <td class="day available">19</td>
              <td class="day available">20</td>
              <td class="day available">21</td>
            </tr>
            <tr>
              <td class="day available">22</td>
              <td class="day available">23</td>
              <td class="day available">24</td>
              <td class="day available">25</td>
              <td class="day available">26</td>
              <td class="day available">27</td>
              <td class="day available">28</td>
            </tr>
            <tr>
              <td class="day available">29</td>
              <td class="day available">30</td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
            </tr>
            <tr>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="calendar-wrap">
        <div class="month">Июль <span>2015</span></div>
        <table class="calendar">
          <thead>
            <tr>
              <th>Пн</th>
              <th>Вт</th>
              <th>Ср</th>
              <th>Чт</th>
              <th>Пт</th>
              <th>Сб</th>
              <th>Вс</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="day">1</td>
              <td class="day">2</td>
              <td class="day">3</td>
              <td class="day">4</td>
              <td class="day">5</td>
            </tr>
            <tr>
              <td class="day">6</td>
              <td class="day">7</td>
              <td class="day">8</td>
              <td class="day">9</td>
              <td class="day">10</td>
              <td class="day">11</td>
              <td class="day">12</td>
            </tr>
            <tr>
              <td class="day">13</td>
              <td class="day">14</td>
              <td class="day">15</td>
              <td class="day">16</td>
              <td class="day">17</td>
              <td class="day">18</td>
              <td class="day">19</td>
            </tr>
            <tr>
              <td class="day">20</td>
              <td class="day">21</td>
              <td class="day">22</td>
              <td class="day">23</td>
              <td class="day available">24</td>
              <td class="day">25</td>
              <td class="day">26</td>
            </tr>
            <tr>
              <td class="day">27</td>
              <td class="day">28</td>
              <td class="day">29</td>
              <td class="day">30</td>
              <td class="day">31</td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
            </tr>
            <tr>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
              <td class="not-day"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>