.welcome-index
	.wrap
		.row
			.welcome-text
				div.logo-text
					| Представительство европейского туроператора ADEX International в РФ. Реестровый номер МТ3 013021
				.text-center
					span.heading-main.text-left
						span.first-line ЛУЧШИЕ ТУРЫ 
						br
						span.second-line ПО ДОСТУПНЫМ ЦЕНАМ
	.search-box
		form
			.search-inner
				.input-wrap
					select
						option Выбор страны
				.input-range-group
					.input-wrap
						input.date-in(name="date-in" id="date-in" placeholder="Дата заезда")
					.input-wrap
						input.date-out(name="date-out" id="date-out" placeholder="Дата выезда")
				.input-wrap
					select
						option Город вылета
			a.search-btn
				img(src="img/search.png")