.welcome-text
	color: #fff
	@media (min-width: 1024px)
		margin-top: 105px
	.logo-text
		font-size: 12px
		width: 270px
		color: #fff
		margin-top: 15px
	span.heading-main
		color: #fff
		font-size: 66px
		display: inline-block
		line-height: 87px
		@media (max-width: 599px)
			font-size: 30px
			margin-bottom: 30px
			line-height: 60px
		@media (min-width: 600px) and (max-width: 1023px)
			font-size: 45px
			line-height: 70px
		&.first-line
			margin: 40px 0 0
			display: inline-block
		&.second-line
			display: inline-block
			text-indent: 100px
	p
		font-size: 16px
.booking-box
	width: 320px
	margin: 0 auto
	padding: 15px
	text-align: center
	&.fix
		position: fixed
		bottom: 0
		left: 50%
		margin-left: -160px
		z-index: 100
		background: rgba(220,220,220,0.8)
		height: 90px
		.price
			display: none
	.price
		font-size: 22px
		color: #fff
		display: block
		span
			color: $color_yellow
			font-size: 30px
			font-family: 'open_sanssemibold'
			margin-left: 10px

.search-box
	position: relative
	z-index: 10
	white-space: nowrap
	transition: transform 2s
	.search-inner
		box-shadow: 0 0 10px #999
	@media (min-width: 1024px)
		position: fixed
		width: auto
		top: 350px
		box-shadow: 0 0 10px #999
		transform: translateX(-720px)
		&.active
			transform: translate(0px)
		.search-inner
			height: 66px
			box-shadow: none
			.input-wrap
				width: 180px
	.search-btn
		width: 66px
		height: 66px
		background: rgba(255,102,0,0.7)
		display: inline-block
		img
			margin: 14px
	.search-inner
		background: rgba(255,255,255,0.7)
		float: left
		position: relative
		.input-range-group
			float: left
			input[placeholder]
				color: $base
			input::-webkit-input-placeholder
				color: $base
			input::-moz-placeholder
				color: $base
			input:-moz-placeholder
				color: $base
			input:-ms-input-placeholder 
				color: $base
			input
				float: left
		.input-wrap
			float: left
			border-right: 1px solid #fff
			input, select
				background: transparent
				border: none
				color: $base
				margin-bottom: 0
				font-size: 16px
				height: 66px
				padding: 20px
				text-align: center
				font-family: 'open_sansregular'
				width: 100%
				@media (min-width: 768px) and (max-width: 1023px)
					padding: 10px
			input, select
				&:active, &:focus
					background: #fff
					outline: none
					color: $color-orange
	@media (max-width: 1023px)
		transform: translateX(-746px)
		&.active
			transform: translateX(0px)
	@media (max-width: 767px)
		transform: translateX(-320px)
		&.active
			transform: translateX(0px)
			.search-btn
				position: absolute
		.search-btn
			width: 50px
			height: 50px
			img
				width: 25px
		.search-inner
			display: flex
			flex-wrap: wrap
			max-width: 320px
			.input-wrap
				border-bottom: 1px solid #fff
				flex: 0 0 50%
				input, select
					padding: 10px
					height: 50px
					font-size: 13px
					text-align: left
			.input-range-group
				order: 1
				flex: 0 0 100%
				.input-wrap
					border-bottom: 1px solid transparent
					width: 50%
					input
						padding: 10px 15px
	@media (max-width: 499px)
		transform: translateX(-260px)
		.search-inner
			max-width: 260px
