.welcome-exc
	.wellcome-inner
		@media (min-width: 768px)
			width: 755px
			margin: 0 auto
		p
			padding-bottom: 20px
			border-bottom: 1px solid #fff
			margin-bottom: 0
			@media (max-width: 320px)
				font-size: 12px
		span.heading-main
			margin-bottom: 35px
			@media (max-width: 320px)
				margin-bottom: 20px

