.welcome-exc
	.wrap
		.row
			.welcome-text
				div.logo-text
					| Представительство европейского туроператора ADEX International в РФ. Реестровый номер МТ3 013021
				.wellcome-inner.text-center
					span.heading-main.text-left Вечерний Амстердам
					p.text-left
						| Планета была известна людям с глубокой древности, что нашло своё отражение в мифологии и религиозных верованиях различных культур: месопотамской, вавилонской, греческой и других. Современное название Юпитера происходит от имени древнеримского верховного бога-громовержца.Ряд атмосферных явлений на Юпитере: штормы,  молнии,  полярные сияния,  — имеют масштабы, на порядки превосходящие земные. Примечательным образованием в атмосфере является Большое красное пятно — гигантский шторм, известный с XVII века.
		.row
			.booking-box
				.price Цена от
					span 25 000 руб.
				a.button.button-yellow(data-scroll href="#tour-prices") Забронировать




