//Card style for Offers-mix and Tour-concrete
.card__mix
	.card-info
		box-shadow: 0 -40px 15px rgba(0,0,0,.5)
		position: relative
		.title
			padding: 0 0 0 5px
		.prices
			position: absolute
			top: -30px
			right: 15px
			.price-new
				color: $color_yellow
				font-size: 20px
				text-shadow: 1px 2px 0 #000
		@media (min-width: 480px) and (max-width: 1299px)
			padding: 10px
			.title-icon
				width: 20px
				height: 20px
				// margin-right: 5px
			.title
				font-size: 10px
			.prices
				top: -20px
				right: 10px
				.price-new
					font-size: 12px
		@media (min-width: 768px) and (max-width: 1023px)
			box-shadow: 0 -25px 15px rgba(0,0,0,.5)
			padding: 5px