mixin card(img, title, price_old, price_new, href, tooltip_text)
	.card.clearfix( class!=attributes.class)
		a(href=href).card-link
			img.card-image(src=img)
			.card-info
				img.tip-top.radius.title-icon(src="img/i.png", data-tooltip, title=tooltip_text)
				span.title= title
				.prices.right
					.price-old= price_old
					.price-new= price_new
