// @import "../../styles/_vars.styl"
//Card styles

.card
	.card-link
		border: 1px solid #cccccc
		overflow: hidden
		display: flex
		flex-direction: column
	.card-info
		padding: 15px 10px
		display: flex
		flex-wrap: nowrap
		justify-content: flex-start
		align-items: center
		.title-icon
			width: 28px
			height: 28px
			display: inline-block
			flex: 0 0 auto
		.title
			font-size: 12px
			padding: 0 5px
			text-transform: uppercase
			color: $base
			vertical-align: middle
			display: inline-block
			flex: 1 1 auto
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
		.prices
			flex: 0 0 auto
			margin-top: -5px
			.price-old
				color: $color-grey
				font-size: 14px
				white-space: nowrap
				text-decoration: line-through
			.price-new
				color: $color-red
				white-space: nowrap
				font-size: 14px
	img.card-image
		min-width: 100%


