.card.card__offers
	flex: 1 0 auto
	display: flex
	flex-direction: column
	.card-link
		flex: 1 0 auto
		display: flex
		flex-direction: column
	.card-image
		height: auto
		flex: 1 0 auto
		width: 100%
	.card-info
		@media (min-width: 768px) and (max-width: 1299px)
			.title-icon
				width: 20px
				height: 20px
			.title
				font-size: 11px
			.prices
				.price-new, .price-old
					font-size: 12px