doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
		link(href='js/vendor/zurb/css/normalize.css', type="text/css", rel="stylesheet")
		link(href='js/vendor/zurb/css/foundation.css', type="text/css", rel="stylesheet")
		link(href='js/vendor/datepicker/datepicker.css', type="text/css", rel="stylesheet")
		link(href='fonts/opensans/opensans.css', type="text/css", rel="stylesheet")
		link(href='js/vendor/owl.carousel/owl.carousel.css', type="text/css", rel="stylesheet")
		link(href='js/vendor/checkbo/checkBo.css', type="text/css", rel="stylesheet")
		link(href='styles/all.css', type="text/css", rel="stylesheet")
		title Amstel

	- var bodyClasses = [];
	block beforeBody

	body(class=bodyClasses)
		.header
			block header
				include blocks/nav/_nav.jade
		block content
		include blocks/footer/footer.jade

		script(src='js/vendor/jquery-2.1.1.js')
		script(src='js/vendor/zurb/js/vendor/modernizr.js')
		script(src='js/vendor/zurb/js/foundation.min.js')
		script(src='js/vendor/datepicker/bootstrap-datepicker.js')
		script(src='js/vendor/datepicker/bootstrap-datepicker.ru.js')
		script(src='js/vendor/owl.carousel/owl.carousel.min.js')
		script(src='js/vendor/checkbo/checkBo.js')
		script(src='js/vendor/smooth-scroll.js')
		script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		script(src='js/all.js')
