extends _layout

block beforeBody
	- bodyClasses.push('articles', 'with-bottom-menu')

block append header
	include blocks/welcome/_welcome.jade
	include blocks/nav/_nav-bottom-articles.jade

block content
	.main.with-bottom-menu
		.wrap
			.row
				.breadcrumbs-box
					.container
						ul.breadcrumbs
							li: a(href="#") Главная
							li: a(hrtef="#") Голландия
							li.current: a(href="#") Экскурсии
			.container.clearfix
				.row
					.row
						include includes/articles/_aside.jade
						include includes/articles/_articles-main.jade
		include includes/articles/_articles-form.jade


