extends _layout

block beforeBody
	- bodyClasses.push('excursions', 'with-booking-box', 'with-bottom-menu')

block append header
	include blocks/welcome/_welcome-exc.jade
	include blocks/nav/_nav-bottom.jade

block content
	.main
		include includes/excursions/_tour-program.jade
		include includes/excursions/_tour-prices.jade
		include includes/excursions/_booking-steps.jade
		include includes/excursions/_tour-hotels.jade
		#map-amsterdam(style="width: 100%; height: 575px;")
		include includes/excursions/_tour-gallery.jade
