extends _layout

block beforeBody
	- bodyClasses.push('index')
block append header
	include blocks/welcome/_welcome-index.jade

block content
	.main.with-booking-box
		include includes/index/_offers-spec.jade
		include includes/index/_tours-mix.jade
		include includes/index/_tour-concrete.jade
