
<div class="welcome">
  <div class="wrap">
    <div class="row">
      <div class="welcome-text">
        <div class="logo-text">Представительство европейского туроператора ADEX International в РФ. Реестровый номер МТ3 013021</div>
      </div>
    </div>
  </div>
</div>