
<div class="welcome-exc">
  <div class="wrap">
    <div class="row">
      <div class="welcome-text">
        <div class="logo-text">Представительство европейского туроператора ADEX International в РФ. Реестровый номер МТ3 013021</div>
        <div class="wellcome-inner text-center"><span class="heading-main text-left">Вечерний Амстердам</span>
          <p class="text-left">Планета была известна людям с глубокой древности, что нашло своё отражение в мифологии и религиозных верованиях различных культур: месопотамской, вавилонской, греческой и других. Современное название Юпитера происходит от имени древнеримского верховного бога-громовержца.Ряд атмосферных явлений на Юпитере: штормы,  молнии,  полярные сияния,  — имеют масштабы, на порядки превосходящие земные. Примечательным образованием в атмосфере является Большое красное пятно — гигантский шторм, известный с XVII века.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="booking-box">
        <div class="price">Цена от<span>25 000 руб.</span></div><a data-scroll="data-scroll" href="#tour-prices" class="button button-yellow">Забронировать</a>
      </div>
    </div>
  </div>
</div>