.articles
	.header
		background: url('../img/bg-articles.jpg') no-repeat
		min-height: 435px
		background-size: cover
		background-position: center
	.welcome-text
		.logo-text
			margin-bottom: 70px
	.nav-bottom
		position: absolute
	.main
		margin-bottom: 0
	.aside
		ul
			list-style: none
			margin: 0
			&.aside-menu
				background: #f2f1f1
				>li
					padding: 20px 10px
					border-bottom: 1px solid $border-grey
				ul
					display: none
					&.third-line li
						padding-left: 10px
					&.open
						display: block
			a
				color: $base
				font-size: 13px
				text-decoration: underline
				&:hover
					text-decoration: none
				&.active
					color: $color-orange
			a.aside-link
				font-size: 16px
				color: $black
				font-family: 'open_sanssemibold'
				text-decoration: none
			.img-flag
				margin-right: 10px
	.articles-main
		.articles-heading
			color: $color-orange
			border-bottom: 1px solid $border-grey
			margin-bottom: 20px
		.map-block
			height: 265px
			margin-bottom: 20px
		p
			font-size: 14px
			text-indent: 20px
			margin-bottom: 2px
		.offer-wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			.offer
				margin-bottom: 28px
				flex: 0 1 48%
				@media (max-width: 599px)
					flex: 0 1 100%
				.card-image
					flex: 1 0 160px
		.articles-info
			border-bottom: 1px solid $border-grey
			margin-bottom: 15px
			dl
				font-size: 14px
				font-family: 'open_sanssemibold'
				color: $black
				margin-bottom: 0
				@media (min-width: 600px)
					display: flex
					dt
						flex: 0 0 auto
						margin-right: 5px
	.articles-pager
		margin-bottom: 20px
		a
			font-family: 'open_sanssemibold'
			font-size: 12px
			text-transform: uppercase
			text-decoration: underline
			display: inline-block
			@media (min-width: 600px)
				&+a
					margin-left: 30px
			@media (max-width: 599px)
				display: block
				font-size: 10px
			&.next:after
				content: "\00bb"
				margin-left: 5px;
				display: inline-block
				vertical-align: top
				font-size: 15px
				line-height: 1
			&.prev:before
				content: "\00ab"
				margin-right: 5px;
				display: inline-block
				vertical-align: top
				font-size: 15px
				line-height: 1
	.articles-form
		background: url('../img/form-bg.jpg') no-repeat
		background-size: cover
		min-height: 255px
		h2
			color: #fff
			margin: 20px 0
		.button-yellow
			width: 100%
			font-size: 14px
			padding: 10px
			margin-bottom: 10px
