.excursions
	.container
		width: 940px
		margin: 0 auto
	.header
		background: url('../img/bg.jpg') no-repeat
		min-height: 810px
		background-size: cover
	.heading-title h4
		color: $dark-grey
	.tour-program
		.tour-day
			background: $bg-grey
			padding: 20px
			margin-bottom: 20px
			h4
				border-bottom: 1px solid $color-orange
				margin: 0
				margin-bottom: 5px
			ul
				margin: 0
				list-style: none
				font-size: 15px
		.tour-info
			>ul
				font-family: 'open_sanssemibold'
				color: $black
				@media (max-width: 499px)
					margin-left: 0
				list-style: none
				font-size: 14px
				>li
					position: relative
					padding-left: 10px
					ul
						margin-left: 50px
						color: $base
						font-family: 'open_sansregular'
						list-style: none
						font-size: 14px
						@media (max-width: 499px)
							margin-left: 5px
						li
							position: relative
							padding-left: 10px
							&:before
								content: '-'
								border: 0
								position: absolute
								left: 0
					&:before
						content: ''
						position: absolute
						left: 0
						top: 8px
						border-radius: 50%
						border: 3px solid $color-orange
			&+.tour-info
				border-top: 1px solid #eaeaea
	.tour-prices
		position: relative
		.flex
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			.calendar-wrap
				flex: 0 1 300px
				margin: 0 auto 10px  auto
		.tour-date
			margin: 0 auto 15px auto
			@media (max-width: 320px)
				flex: 0 1 100%
				.datepicker-inline
					margin: 0 auto
			.datepicker-inline
				width: 100%
				padding: 0
				table
					max-width: 100%
					border-collapse: separate
					border-spacing: 5px
					tr
						background: #fff
					.dow
						background: #fff
					th, td
						padding: 7px
						background: #e1e1e1
						border-radius: 0
					td
						border: 1px solid #ccc
					.old, .new
						opacity: 0
						background: transparent
					thead tr:first-child th
						background: $color-orange
						border-radius: 0
	.tour-hotels
		margin-bottom: 20px
		.accordion
			margin: 0
			.accordion-navigation-outer
				background: $bg-grey
				padding: 0 15px
				margin-bottom: 15px !important
				>a
					position: relative
					&:after
						content: '+'
						position: absolute
						right: 0
						top: 50%
						margin-top: -16px
						color: $color-orange
				&.active
					>a
						border-bottom: 1px solid $color-orange
						&:after
							content: '-'
							transition: 0.5s
			.accordion-navigation>a
				background: transparent
			.accordion-navigation-inner
				position: relative
				>a
					color: $color-orange
					text-decoration: underline
					font-family: 'open_sanssemibold'
					position: relative
					&:after
						content: '+'
						position: absolute
						right: 0
						top: 50%
						margin-top: -16px
						color: $color-orange
					&:hover
						text-decoration: none
				span
					color: $black
					text-decoration: none
					position: absolute
					left: 350px
					top: 20px
				&.active
					>a:after
						content: '-'
						transition: 0.5s
				&+.accordion-navigation-inner
					border-top: 1px solid #b8b8b8
			.content
				background: $bg-grey
				&.content-outer
					padding: 0
			.hotel-info
				display: flex
				flex-wrap: wrap
				.img-wrap
					flex: 0 0 250px
					margin-right: 10px
					img
						width: 100%
				p
					font-size: 16px
					line-height: 1.45
					color: $black
		.tabs
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			@media (max-width: 939px)
				justify-content: flex-start
			&:before
				content: none
			.tab-title
				flex: 1 0 auto
				@media (max-width: 939px)
					flex: 1 1 120px
					padding: 2px
					a
						padding: 5px
						font-size: 12px
						margin-bottom: 0
				@media (max-width: 599px)
					a
						font-size: 9px
				&.active
					background: #fff
					border: 1px solid $color-orange
					border-bottom: 0
					a
						background: #fff
					@media (max-width: 939px)
						background: transparent
						border: 0
			a
				padding: 15px
				margin-bottom: 10px
				text-align: center
				background: #cacaca
				font-family: 'open_sanssemibold'
				font-size: 14px
				text-transform: uppercase
				color: $black
				@media (max-width: 939px)
					border: 1px solid $color-grey
			.tab-title+.tab-title
				margin-left: 10px
				@media (max-width: 939px)
					margin-left: 0
		.tabs-content
			margin-top: -1px
			@media (max-width: 939px)
				padding: 0 2px
				margin-top: 2px
			.flex
				display: flex
				justify-content: space-between
				align-items: center
				flex-wrap: wrap
				img
					flex: 0 0 150px
					height: 110px
					margin-bottom: 21px
					@media (max-width: 600px)
						flex: 0 0 200px
						height: 150px
					@media (max-width: 320px)
						flex: 0 0 100%
						height: auto
			.content
				background: #fff
				padding: 20px
				&.active
					border: 1px solid $color-orange
				dl, p
					font-size: 14px
					color: $black
				dt
					font-size: 16px
					font-family: 'open_sanssemibold'
					margin-bottom: 0
	.tour-gallery
		.flex
			display: flex
			justify-content: space-between
			flex-wrap: wrap
		img
			flex: 0 1 300px
			margin: 0 auto 20px auto
	.popup
		background: #fff
		padding: 15px 20px
		width: 340px
		box-shadow: 0 0 10px #999
		position: absolute
		z-index: 100
		&:after
			content: ''
			position: absolute
			top: 50%
			right: -15px
			margin-top: -7px
			border-top: 15px solid transparent
			border-left: 15px solid #fff
			border-bottom: 15px solid transparent
		.date
			padding-bottom: 15px
			border-bottom: 1px solid $color-orange
			font-size: 18px
			font-family: 'open_sanssemibold'
		.hotel-type
			font-family: 'open_sanssemibold'
			font-size: 15px
			padding: 10px 0
		.form
			padding-bottom: 15px
			border-bottom: 1px solid $color-orange
			margin-bottom: 20px
			label
				font-size: 14px
		.popup-button button
			padding: 10px 30px
			font-size: 15px
		table
			border: 0
			width: 100%
			margin-bottom: 0
			tr
				background: #fff
				td
					color: $black
					padding: 1px 5px 1px 0
					line-height: 1
					&.room-price
						color: $color-orange
						font-size: 16px
						font-family: 'open_sanssemibold'
						text-align: right
	@media only screen and (max-width: 40em)
		.reveal-modal
			min-height: 0
	.booking-steps
		max-width: 940px
		padding: 0
		.flex
			display: flex
			justify-content: space-between
			flex-wrap: wrap
		.left-box
			flex: 0 0 375px
			margin-top: -52px
			img
				width: 100%
			@media (max-width: 939px)
				flex: 0 0 35%
			@media (max-width: 767px)
				flex: 0 0 100%
				margin-top: 0
				text-align: center
			h6
				text-transform: uppercase
			p
				font-size: 14px
				margin: 0
			a
				font-size: 14px
				text-decoration: underline
				&:hover
					text-decoration: none
			.info
				padding: 20px
		.right-box
			background: #e9e9e9
			flex: 1 0 auto
			padding: 20px
			@media (max-width: 939px)
				flex: 1 0 65%
			@media (max-width: 767px)
				flex: 0 0 100%
		.tabs
			margin-left: 375px
			@media (max-width: 939px)
				margin-left: 35%
			@media (max-width: 767px)
				margin-left: 0
			.tab-title
				width: 25%
				&.disabled,
				a
					background: #a0a0a0
					padding: 15px
					text-align: center
					text-transform: uppercase
					font-size: 14px
				&.active a
					background: #e9e9e9
					color: $color-orange
		.tabs-content
			.content
				padding: 0
		.tabs-info-body
			border-top: 1px solid #a0a0a0
			border-bottom: 1px solid #a0a0a0
			padding-top: 20px
			margin-bottom: 20px
			&+.tabs-info-body
				border-top: 0
				margin-top: -20px
			h6
				text-transform: none
				margin-top: 0
			table
				border: 0
				width: 100%
				margin-bottom: 15px
				td
					background: #fff
					font-size: 13px
					padding: 0
					line-height: 1.4
					@media (max-width: 599px)
						font-size: 11px
				tfoot
					border-top: 1px solid #ddd
					td
						padding-top: 15px
		.tabs-content-body
			border-top: 1px solid #a0a0a0
			border-bottom: 1px solid #a0a0a0
			padding-top: 20px
			label
				font-size: 14px
				text-transform: uppercase
				margin-top: 5px
				span
					text-transform: none
					margin-top: 5px
				&.cb-radio
					margin: 0 0 10px 0
					background: #fff
					padding: 10px 10px 8px 10px
					display: block
					border: 1px solid #a0a0a0
					&:last-child
						margin-bottom: 20px
					img
						vertical-align: middle
			select, input
				padding: 3px 7px 2px
				font-size: 15px
				font-family: 'open_sanssemibold'
				line-height: 1
				height: 30px
			input::-webkit-input-placeholder
				font-size: 14px
				color: #8a8a8a
				line-height: 1.5
				font-weight: normal
				font-family: 'open_sansregular'
			input::-moz-placeholder
				font-size: 14px
				color: #8a8a8a
				line-height: 1.5
				font-weight: normal
				font-family: 'open_sansregular'
			input:-ms-input-placeholder
				font-size: 14px
				color: #8a8a8a
				line-height: 1.5
				font-weight: normal
				font-family: 'open_sansregular'
		.button-yellow
			padding: 5px 25px
			font-size: 15px
			margin-top: 20px


