@import "../fonts/flaticon/flaticon"
@import "_vars"
@import "../blocks/nav/_nav"
@import "../blocks/nav/_nav-bottom"
@import "../blocks/card/_card"
@import "../blocks/card/_card-offers"
@import "../blocks/card/_card-mix"
@import "../blocks/heading/_heading"
@import "../blocks/welcome/_welcome"
@import "../blocks/welcome/_welcome-exc"
@import "../blocks/footer/_footer"
@import "_excursions"
@import "_articles"


h1, h2, h3, h4, h5, h6
	font-family: 'open_sanssemibold'
h5
	font-size: 18px
h6
	font-size: 14px
//checkBo
.cb-radio .cb-inner
	background: #fff
.cb-checkbox:hover .cb-inner, .cb-radio:hover .cb-inner
	border-color: $color-orange
.cb-radio.checked i
	background-color: $color-orange

//buttons style
.button-yellow
	background: $color_yellow
	color: #000
	border-bottom: 3px solid #b28b00
	border-radius: 4px
	text-transform: uppercase
	text-shadow: 0 2px 2px #ffdc61
	font-size: 20px
	font-weight: bold
	padding: 15px 45px
	margin: 0
	font-family: 'open_sanssemibold'
	&:hover, &:focus
		background: $color_yellow
		color: #666
.button-outline
	background: transparent
	color: $link-blue
	border: 1px solid $link-blue
	text-transform: uppercase
	font-size: 13px
	border-radius: 4px
	padding: 10px 25px
	&:hover
		background: $link-blue

//breadcrumbs
.breadcrumbs-box
	border-bottom: 1px solid $border-grey
	padding: 5px 0
.breadcrumbs
	background: transparent
	border: 0
	margin: 0
	padding: 15px 10px
	a
		color: $dark-grey
		text-transform: none
		font-family: 'open_sanssemibold'
		font-size: 14px
	li:before
		content: "\00bb"
		top: 0
		margin: 0 5px
	.current a
		color: $black
//tooltip styles
.tooltip.tip-top
	@media (max-width: 40.063em)
		background: #fff
		color: $base
		border: 1px solid #ddd
		font-size: 12px
		padding: 5px
		>.nub
			position: absolute
			border: none
			border-bottom: 7px solid #ddd
			border-left: 7px solid transparent
			border-right: 7px solid transparent
			bottom: auto
			top: 10px
			left: 5px
			&:after
				border-bottom: 7px solid #fff
				border-left: 7px solid transparent
				border-right: 7px solid transparent
				content: ''
				position: absolute
				left: -7px
				top: 1px
	@media (min-width: 40.063em)
		background: #fff
		color: $base
		border: 1px solid #ddd
		font-size: 12px
		padding: 7px
		>.nub
			position: absolute
			border: none
			border-top: 7px solid #ddd
			border-left: 7px solid transparent
			border-right: 7px solid transparent
			left: 5px
			bottom: -7px
			&:after
				border-top: 7px solid #fff
				border-left: 7px solid transparent
				border-right: 7px solid transparent
				content: ''
				position: absolute
				left: -7px
				bottom: 1px

.calendar-wrap
	padding: 2px
	.month
		background: $color-orange
		color: #fff
		text-align: center
		padding: 7px 0
		font-size: 19px
		text-transform: uppercase
		font-weight: bold
	.calendar
		width: 100%
		border-collapse: separate
		border-spacing: 5px
		margin: 0 auto
		border-top: 0
		th, td
			background: #fff
			padding: 0
			height: 37px
			line-height: 1.5
			vertical-align: middle
			text-align: center
		td.day
			padding: 5px
			background: #e1e1e1
			&.available
				background: $color-orange
//sticky-footer
	html
	&.flexbox
		@media (min-width: $screen-sm-min)
			body
				display: flex
				min-height: 100vh
				flex-direction: column
				main
					flex: 1 1 auto
		@media (min-width: 940px)
			overflow-x: hidden


body
	margin: 0
	color: $base
	font-family: 'open_sansregular'
.row
	max-width: 2000px
.wrap
	padding: 0 45px
	@media (max-width: 1349px)
		padding: 0 20px
	@media (max-width: 499px)
		padding: 0 15px
.container
	width: 940px
	margin: 0 auto
	@media (max-width: 940px)
		width: 100% !important
.header
	position: relative
	min-height: 436px
	background: url('../img/holland-canal.jpg') no-repeat
	background-size: cover
.main
	margin-bottom: 30px

.offers-spec
	.offer-wrap
		display: flex
		flex-wrap: nowrap
		justify-content: space-between
		flex-wrap: wrap
	.offer
		flex: 1 0 30%
		margin-bottom: 10px
		min-width: 30%
		@media (max-width: 767px)
			flex: 0 0 100%
			margin: 0 auto
		@media (min-width: 768px)
			display: flex
			flex-direction: column
			margin-right: 15px
			&:nth-child(3n), &:last-child
				margin-right: 0


//datepicker
.datepicker
	@media (max-width: 499px)
		left: 0!important
		top: 100px !important
		&.datepicker-dropdown
			&.date-2, &.date-1
				&:before
					border-bottom: 7px solid #ccc
					border-top: 0
					top: -7px
					bottom: auto
				&:after
					border-bottom: 6px solid #fff
					border-top: 0
					top: -6px !important
					bottom: auto
			&.date-2
				&:before
					right: 6px
					left: auto
				&:after
					right: 7px
					left: auto


//Slider
.owl-carousel
	position: relative
	.owl-stage, .owl-item, .card
		display: flex
	.card
		width: 100%
	.card-link
		width: 100%
	@media (max-width: 479px)
		.owl-item
			flex: 1 0 auto
			justify-content: center
			// margin-right: 0 !important
		.card, .card-link
			width: 90%
			justify-content: center
	.card-image
		min-width: 100%
		height: auto
		flex: 1 0 auto
		@media (min-width: 480px)
			max-height: 300px !important
		@media (max-width: 479px)
			width: auto
			min-width: 1px
	.card-info
		flex: 0 0 28px
		box-sizing: content-box
		// @media (min-width: 480px) and (max-width: 1299px)
		// 	flex: 0 0 10px
	.owl-controls
		position: absolute
		top: 40%
		width: 100%
		.owl-nav
			position: relative
			.owl-prev
				position: absolute
				left: -35px
				background: url('../img/arrow.png') no-repeat
				width: 25px
				height: 25px
				transform: rotate(180deg)
				@media (max-width: 479px)
					left: 0
			.owl-next
				position: absolute
				right: -35px
				background: url('../img/arrow.png') no-repeat
				width: 25px
				height: 25px
				@media (max-width: 479px)
					right: 0
