@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/flaticon.eot");
  src: url("../fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon/flaticon.woff") format("woff"), url("../fonts/flaticon/flaticon.ttf") format("truetype"), url("../fonts/flaticon/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}
.flaticon-tw:before {
  content: "\e000";
}
.flaticon-blogger:before {
  content: "\e001";
}
.flaticon-facebook:before {
  content: "\e002";
}
.flaticon-pinterest:before {
  content: "\e003";
}
.flaticon-instagram:before {
  content: "\e004";
}
.flaticon-odnolassniki:before {
  content: "\e005";
}
.flaticon-youtube:before {
  content: "\e006";
}
.nav-wrap {
  background: rgba(255,255,255,0.4);
  width: 100%;
}
@media (min-width: 1024px) {
  .nav-wrap {
    position: fixed;
  }
}
.nav-wrap.scrolled {
  background: rgba(255,255,255,0.9);
  -webkit-transition: background 3s;
  transition: background 3s;
  box-shadow: 0 2px 10px #000;
  z-index: 1000;
}
.nav-wrap.scrolled .menu-icon a span:after {
  box-shadow: 0 0 0 1px #999, 0 7px 0 1px #999, 0 14px 0 1px #999;
  margin-top: 5px;
}
.top-bar {
  background: transparent;
  height: auto;
}
@media (max-width: 1023px) {
  .top-bar {
    height: 55px;
  }
}
@media (max-width: 499px) {
  .top-bar {
    height: 40px;
  }
}
.top-bar .logo {
  margin-right: 30px;
  margin-top: 15px;
}
@media (max-width: 1350px) {
  .top-bar .logo {
    width: 60px;
    margin-right: 15px;
    margin-top: 12px;
  }
}
@media (max-width: 1023px) {
  .top-bar .logo {
    margin-top: 5px;
  }
}
@media (max-width: 499px) {
  .top-bar .logo {
    width: 40px;
  }
}
.top-bar .title-area {
  background: transparent !important;
}
.top-bar .top-bar-section ul.inline-list li {
  margin: 0;
  min-width: 75px;
}
.top-bar .top-bar-section ul.inline-list li a {
  padding: 0 10px !important;
  display: block;
  line-height: 30px;
  font-size: 12px;
  position: relative;
}
@media (max-width: 1023px) {
  .top-bar .top-bar-section ul.inline-list li {
    float: none;
  }
}
@media (min-width: 1024px) and (max-width: 1085px) {
  .top-bar .top-bar-section ul.inline-list li {
    min-width: 0;
  }
}
@media (min-width: 1024px) {
  .top-bar .top-bar-section ul.inline-list li a {
    padding: 30px 7px !important;
  }
  .top-bar .top-bar-section ul.inline-list li a:before {
    content: '';
    border-left: 1px solid rgba(255,255,255,0.8);
    position: absolute;
    left: 0;
    height: 30px;
  }
  .top-bar .top-bar-section ul.inline-list li:last-child a:after {
    content: '';
    border-left: 1px solid rgba(255,255,255,0.8);
    position: absolute;
    right: 0;
    height: 30px;
  }
  .top-bar .top-bar-section ul.inline-list li:hover {
    background: #fff;
  }
  .top-bar .top-bar-section ul.inline-list li:hover a {
    color: #ff6000;
  }
  .top-bar .top-bar-section ul.inline-list li:hover+li a:before {
    border-left: 1px solid transparent;
  }
  .top-bar .top-bar-section ul.inline-list li:hover a:before {
    border-left: 1px solid transparent;
  }
}
@media (min-width: 1024px) and (max-width: 1350px) {
  .top-bar .top-bar-section ul.inline-list li a {
    font-size: 10px !important;
  }
}
@media (min-width: 1599px) {
  .top-bar .top-bar-section ul.inline-list li a {
    font-size: 13px;
  }
}
.top-bar .top-bar-section ul li {
  background: transparent;
  text-align: center;
  white-space: nowrap;
}
.top-bar .top-bar-section ul li a {
  text-transform: uppercase;
  background: transparent !important;
  padding: 0 !important;
  color: #333;
}
.top-bar .top-bar-section ul.phones {
  margin-top: 10px;
}
.top-bar .top-bar-section ul.phones img {
  margin: 15px 8px 0 0;
}
@media (max-width: 1023px) {
  .top-bar .top-bar-section ul.phones {
    margin-bottom: 15px;
  }
  .top-bar .top-bar-section ul.phones img {
    margin: 10px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1350px) {
  .top-bar .top-bar-section ul.phones img {
    width: 22px;
  }
  .top-bar .top-bar-section ul.phones li>div {
    font-size: 12px;
  }
}
.nav-bottom {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
@media (max-width: 599px) {
  .nav-bottom {
    position: absolute;
  }
}
@media (min-height: 800px) {
  .nav-bottom {
    position: absolute;
  }
}
@media (min-width: 768px) {
  .nav-bottom {
    height: 65px;
  }
}
.nav-bottom.fix {
  background: rgba(0,0,0,0.7);
  -webkit-transition: background 3s;
  transition: background 3s;
  z-index: 1000;
}
@media (min-width: 1024px) {
  .nav-bottom.fix {
    position: fixed !important;
    top: 90px;
  }
}
.inline-list {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.inline-list li {
  margin: 0;
  text-align: center;
}
.inline-list li a {
  padding: 20px 0;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'open_sanssemibold';
}
.inline-list li a:hover {
  color: #ff7800;
  text-decoration: none;
}
@media (max-width: 767px) {
  .inline-list li a {
    padding: 10px;
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .inline-list {
    display: block;
  }
  .inline-list li {
    float: none;
  }
  .inline-list li a {
    padding: 3px;
  }
}
.card .card-link {
  border: 1px solid #ccc;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card .card-info {
  padding: 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.card .card-info .title-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.card .card-info .title {
  font-size: 12px;
  padding: 0 5px;
  text-transform: uppercase;
  color: #2c2c2c;
  vertical-align: middle;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .card-info .prices {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: -5px;
}
.card .card-info .prices .price-old {
  color: #a5a2a2;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: line-through;
}
.card .card-info .prices .price-new {
  color: #f1613a;
  white-space: nowrap;
  font-size: 14px;
}
.card img.card-image {
  min-width: 100%;
}
.card.card__offers {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card.card__offers .card-link {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card.card__offers .card-image {
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1299px) {
  .card.card__offers .card-info .title-icon {
    width: 20px;
    height: 20px;
  }
  .card.card__offers .card-info .title {
    font-size: 11px;
  }
  .card.card__offers .card-info .prices .price-new,
  .card.card__offers .card-info .prices .price-old {
    font-size: 12px;
  }
}
.card__mix .card-info {
  box-shadow: 0 -40px 15px rgba(0,0,0,0.5);
  position: relative;
}
.card__mix .card-info .title {
  padding: 0 0 0 5px;
}
.card__mix .card-info .prices {
  position: absolute;
  top: -30px;
  right: 15px;
}
.card__mix .card-info .prices .price-new {
  color: #ffc600;
  font-size: 20px;
  text-shadow: 1px 2px 0 #000;
}
@media (min-width: 480px) and (max-width: 1299px) {
  .card__mix .card-info {
    padding: 10px;
  }
  .card__mix .card-info .title-icon {
    width: 20px;
    height: 20px;
  }
  .card__mix .card-info .title {
    font-size: 10px;
  }
  .card__mix .card-info .prices {
    top: -20px;
    right: 10px;
  }
  .card__mix .card-info .prices .price-new {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card__mix .card-info {
    box-shadow: 0 -25px 15px rgba(0,0,0,0.5);
    padding: 5px;
  }
}
.heading-wrap {
  position: relative;
  margin: 50px 0;
}
@media (max-width: 767px) {
  .heading-wrap {
    margin: 25px 0;
  }
}
.heading-wrap .heading-line {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 0;
  left: 0;
}
.heading-wrap .heading-line hr {
  margin: 0;
}
@media (max-width: 499px) {
  .heading-wrap .heading-line {
    display: none;
  }
}
.heading-wrap .heading-title {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  background: #fff;
  display: inline-block;
}
.heading-wrap .heading-title h4 {
  margin: 0;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .heading-wrap .heading-title h4 {
    font-size: 17px;
  }
}
.welcome-text {
  color: #fff;
}
@media (min-width: 1024px) {
  .welcome-text {
    margin-top: 105px;
  }
}
.welcome-text .logo-text {
  font-size: 12px;
  width: 270px;
  color: #fff;
  margin-top: 15px;
}
.welcome-text span.heading-main {
  color: #fff;
  font-size: 66px;
  display: inline-block;
  line-height: 87px;
}
@media (max-width: 599px) {
  .welcome-text span.heading-main {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 60px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .welcome-text span.heading-main {
    font-size: 45px;
    line-height: 70px;
  }
}
.welcome-text span.heading-main.first-line {
  margin: 40px 0 0;
  display: inline-block;
}
.welcome-text span.heading-main.second-line {
  display: inline-block;
  text-indent: 100px;
}
.welcome-text p {
  font-size: 16px;
}
.booking-box {
  width: 320px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}
.booking-box.fix {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -160px;
  z-index: 100;
  background: rgba(220,220,220,0.8);
  height: 90px;
}
.booking-box.fix .price {
  display: none;
}
.booking-box .price {
  font-size: 22px;
  color: #fff;
  display: block;
}
.booking-box .price span {
  color: #ffc600;
  font-size: 30px;
  font-family: 'open_sanssemibold';
  margin-left: 10px;
}
.search-box {
  position: relative;
  z-index: 10;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}
.search-box .search-inner {
  box-shadow: 0 0 10px #999;
}
@media (min-width: 1024px) {
  .search-box {
    position: fixed;
    width: auto;
    top: 350px;
    box-shadow: 0 0 10px #999;
    -webkit-transform: translateX(-720px);
    -ms-transform: translateX(-720px);
    transform: translateX(-720px);
  }
  .search-box.active {
    -webkit-transform: translate(0px);
    -ms-transform: translate(0px);
    transform: translate(0px);
  }
  .search-box .search-inner {
    height: 66px;
    box-shadow: none;
  }
  .search-box .search-inner .input-wrap {
    width: 180px;
  }
}
.search-box .search-btn {
  width: 66px;
  height: 66px;
  background: rgba(255,102,0,0.7);
  display: inline-block;
}
.search-box .search-btn img {
  margin: 14px;
}
.search-box .search-inner {
  background: rgba(255,255,255,0.7);
  float: left;
  position: relative;
}
.search-box .search-inner .input-range-group {
  float: left;
}
.search-box .search-inner .input-range-group input[placeholder] {
  color: #2c2c2c;
}
.search-box .search-inner .input-range-group input::-webkit-input-placeholder {
  color: #2c2c2c;
}
.search-box .search-inner .input-range-group input::-moz-placeholder {
  color: #2c2c2c;
}
.search-box .search-inner .input-range-group input:-moz-placeholder {
  color: #2c2c2c;
}
.search-box .search-inner .input-range-group input:-ms-input-placeholder {
  color: #2c2c2c;
}
.search-box .search-inner .input-range-group input {
  float: left;
}
.search-box .search-inner .input-wrap {
  float: left;
  border-right: 1px solid #fff;
}
.search-box .search-inner .input-wrap input,
.search-box .search-inner .input-wrap select {
  background: transparent;
  border: none;
  color: #2c2c2c;
  margin-bottom: 0;
  font-size: 16px;
  height: 66px;
  padding: 20px;
  text-align: center;
  font-family: 'open_sansregular';
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .search-box .search-inner .input-wrap input,
  .search-box .search-inner .input-wrap select {
    padding: 10px;
  }
}
.search-box .search-inner .input-wrap input:active,
.search-box .search-inner .input-wrap select:active,
.search-box .search-inner .input-wrap input:focus,
.search-box .search-inner .input-wrap select:focus {
  background: #fff;
  outline: none;
  color: #ff7800;
}
@media (max-width: 1023px) {
  .search-box {
    -webkit-transform: translateX(-746px);
    -ms-transform: translateX(-746px);
    transform: translateX(-746px);
  }
  .search-box.active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media (max-width: 767px) {
  .search-box {
    -webkit-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    transform: translateX(-320px);
  }
  .search-box.active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  .search-box.active .search-btn {
    position: absolute;
  }
  .search-box .search-btn {
    width: 50px;
    height: 50px;
  }
  .search-box .search-btn img {
    width: 25px;
  }
  .search-box .search-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 320px;
  }
  .search-box .search-inner .input-wrap {
    border-bottom: 1px solid #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .search-box .search-inner .input-wrap input,
  .search-box .search-inner .input-wrap select {
    padding: 10px;
    height: 50px;
    font-size: 13px;
    text-align: left;
  }
  .search-box .search-inner .input-range-group {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .search-box .search-inner .input-range-group .input-wrap {
    border-bottom: 1px solid transparent;
    width: 50%;
  }
  .search-box .search-inner .input-range-group .input-wrap input {
    padding: 10px 15px;
  }
}
@media (max-width: 499px) {
  .search-box {
    -webkit-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .search-box .search-inner {
    max-width: 260px;
  }
}
@media (min-width: 768px) {
  .welcome-exc .wellcome-inner {
    width: 755px;
    margin: 0 auto;
  }
}
.welcome-exc .wellcome-inner p {
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
}
@media (max-width: 320px) {
  .welcome-exc .wellcome-inner p {
    font-size: 12px;
  }
}
.welcome-exc .wellcome-inner span.heading-main {
  margin-bottom: 35px;
}
@media (max-width: 320px) {
  .welcome-exc .wellcome-inner span.heading-main {
    margin-bottom: 20px;
  }
}
.footer {
  background: #dad9d9;
  color: #8a8a8a;
  padding: 25px 0;
}
.footer .logo-text {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 1.3;
}
.footer p {
  font-size: 15px;
}
.footer .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer .flex-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 300px;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 20px;
  padding: 0 10px;
  font-size: 15px;
}
@media (max-width: 320px) {
  .footer .flex-item {
    padding: 0;
  }
}
.footer .footer-left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 440px;
  -ms-flex: 0 1 440px;
  flex: 0 1 440px;
}
.footer h6 {
  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 25px;
  margin-top: 0;
  text-transform: uppercase;
  color: #000;
  font-family: 'open_sanssemibold';
}
.footer ul {
  list-style: none;
  margin-left: 0;
}
.footer ul li {
  line-height: 1;
}
.footer ul a {
  font-size: 15px;
  color: #8a8a8a;
}
.footer ul a:hover {
  opacity: 0.7;
}
.footer form input {
  font-size: 13px;
}
.footer .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .social a {
  color: #8a8a8a;
}
.footer .social a:hover {
  opacity: 0.5;
}
.footer .social i {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #8a8a8a;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 599px) {
  .footer .social i {
    line-height: 25px;
  }
}
.footer .social i:before {
  margin: 0;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
}
@media (max-width: 1600px) {
  .footer .footer-left {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  .footer .footer-left a {
    display: block;
    float: left;
    margin-right: 20px;
    height: 80px;
  }
}
.with-booking-box .footer {
  padding-bottom: 135px;
}
.excursions .container {
  width: 940px;
  margin: 0 auto;
}
.excursions .header {
  background: url("../img/bg.jpg") no-repeat;
  min-height: 810px;
  background-size: cover;
}
.excursions .heading-title h4 {
  color: #5d5d5d;
}
.excursions .tour-program .tour-day {
  background: #f6f6f6;
  padding: 20px;
  margin-bottom: 20px;
}
.excursions .tour-program .tour-day h4 {
  border-bottom: 1px solid #ff7800;
  margin: 0;
  margin-bottom: 5px;
}
.excursions .tour-program .tour-day ul {
  margin: 0;
  list-style: none;
  font-size: 15px;
}
.excursions .tour-program .tour-info >ul {
  font-family: 'open_sanssemibold';
  color: #000;
  list-style: none;
  font-size: 14px;
}
@media (max-width: 499px) {
  .excursions .tour-program .tour-info >ul {
    margin-left: 0;
  }
}
.excursions .tour-program .tour-info >ul >li {
  position: relative;
  padding-left: 10px;
}
.excursions .tour-program .tour-info >ul >li ul {
  margin-left: 50px;
  color: #2c2c2c;
  font-family: 'open_sansregular';
  list-style: none;
  font-size: 14px;
}
@media (max-width: 499px) {
  .excursions .tour-program .tour-info >ul >li ul {
    margin-left: 5px;
  }
}
.excursions .tour-program .tour-info >ul >li ul li {
  position: relative;
  padding-left: 10px;
}
.excursions .tour-program .tour-info >ul >li ul li:before {
  content: '-';
  border: 0;
  position: absolute;
  left: 0;
}
.excursions .tour-program .tour-info >ul >li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 50%;
  border: 3px solid #ff7800;
}
.excursions .tour-program .tour-info+.tour-info {
  border-top: 1px solid #eaeaea;
}
.excursions .tour-prices {
  position: relative;
}
.excursions .tour-prices .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.excursions .tour-prices .flex .calendar-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 300px;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px;
  margin: 0 auto 10px auto;
}
.excursions .tour-prices .tour-date {
  margin: 0 auto 15px auto;
}
@media (max-width: 320px) {
  .excursions .tour-prices .tour-date {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .excursions .tour-prices .tour-date .datepicker-inline {
    margin: 0 auto;
  }
}
.excursions .tour-prices .tour-date .datepicker-inline {
  width: 100%;
  padding: 0;
}
.excursions .tour-prices .tour-date .datepicker-inline table {
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}
.excursions .tour-prices .tour-date .datepicker-inline table tr {
  background: #fff;
}
.excursions .tour-prices .tour-date .datepicker-inline table .dow {
  background: #fff;
}
.excursions .tour-prices .tour-date .datepicker-inline table th,
.excursions .tour-prices .tour-date .datepicker-inline table td {
  padding: 7px;
  background: #e1e1e1;
  border-radius: 0;
}
.excursions .tour-prices .tour-date .datepicker-inline table td {
  border: 1px solid #ccc;
}
.excursions .tour-prices .tour-date .datepicker-inline table .old,
.excursions .tour-prices .tour-date .datepicker-inline table .new {
  opacity: 0;
  background: transparent;
}
.excursions .tour-prices .tour-date .datepicker-inline table thead tr:first-child th {
  background: #ff7800;
  border-radius: 0;
}
.excursions .tour-hotels {
  margin-bottom: 20px;
}
.excursions .tour-hotels .accordion {
  margin: 0;
}
.excursions .tour-hotels .accordion .accordion-navigation-outer {
  background: #f6f6f6;
  padding: 0 15px;
  margin-bottom: 15px !important;
}
.excursions .tour-hotels .accordion .accordion-navigation-outer >a {
  position: relative;
}
.excursions .tour-hotels .accordion .accordion-navigation-outer >a:after {
  content: '+';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
  color: #ff7800;
}
.excursions .tour-hotels .accordion .accordion-navigation-outer.active >a {
  border-bottom: 1px solid #ff7800;
}
.excursions .tour-hotels .accordion .accordion-navigation-outer.active >a:after {
  content: '-';
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.excursions .tour-hotels .accordion .accordion-navigation>a {
  background: transparent;
}
.excursions .tour-hotels .accordion .accordion-navigation-inner {
  position: relative;
}
.excursions .tour-hotels .accordion .accordion-navigation-inner >a {
  color: #ff7800;
  text-decoration: underline;
  font-family: 'open_sanssemibold';
  position: relative;
}
.excursions .tour-hotels .accordion .accordion-navigation-inner >a:after {
  content: '+';
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
  color: #ff7800;
}
.excursions .tour-hotels .accordion .accordion-navigation-inner >a:hover {
  text-decoration: none;
}
.excursions .tour-hotels .accordion .accordion-navigation-inner span {
  color: #000;
  text-decoration: none;
  position: absolute;
  left: 350px;
  top: 20px;
}
.excursions .tour-hotels .accordion .accordion-navigation-inner.active >a:after {
  content: '-';
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.excursions .tour-hotels .accordion .accordion-navigation-inner+.accordion-navigation-inner {
  border-top: 1px solid #b8b8b8;
}
.excursions .tour-hotels .accordion .content {
  background: #f6f6f6;
}
.excursions .tour-hotels .accordion .content.content-outer {
  padding: 0;
}
.excursions .tour-hotels .accordion .hotel-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.excursions .tour-hotels .accordion .hotel-info .img-wrap {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 250px;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
  margin-right: 10px;
}
.excursions .tour-hotels .accordion .hotel-info .img-wrap img {
  width: 100%;
}
.excursions .tour-hotels .accordion .hotel-info p {
  font-size: 16px;
  line-height: 1.45;
  color: #000;
}
.excursions .tour-hotels .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 939px) {
  .excursions .tour-hotels .tabs {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.excursions .tour-hotels .tabs:before {
  content: none;
}
.excursions .tour-hotels .tabs .tab-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
@media (max-width: 939px) {
  .excursions .tour-hotels .tabs .tab-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 120px;
    -ms-flex: 1 1 120px;
    flex: 1 1 120px;
    padding: 2px;
  }
  .excursions .tour-hotels .tabs .tab-title a {
    padding: 5px;
    font-size: 12px;
    margin-bottom: 0;
  }
}
@media (max-width: 599px) {
  .excursions .tour-hotels .tabs .tab-title a {
    font-size: 9px;
  }
}
.excursions .tour-hotels .tabs .tab-title.active {
  background: #fff;
  border: 1px solid #ff7800;
  border-bottom: 0;
}
.excursions .tour-hotels .tabs .tab-title.active a {
  background: #fff;
}
@media (max-width: 939px) {
  .excursions .tour-hotels .tabs .tab-title.active {
    background: transparent;
    border: 0;
  }
}
.excursions .tour-hotels .tabs a {
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
  background: #cacaca;
  font-family: 'open_sanssemibold';
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 939px) {
  .excursions .tour-hotels .tabs a {
    border: 1px solid #a5a2a2;
  }
}
.excursions .tour-hotels .tabs .tab-title+.tab-title {
  margin-left: 10px;
}
@media (max-width: 939px) {
  .excursions .tour-hotels .tabs .tab-title+.tab-title {
    margin-left: 0;
  }
}
.excursions .tour-hotels .tabs-content {
  margin-top: -1px;
}
@media (max-width: 939px) {
  .excursions .tour-hotels .tabs-content {
    padding: 0 2px;
    margin-top: 2px;
  }
}
.excursions .tour-hotels .tabs-content .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.excursions .tour-hotels .tabs-content .flex img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 150px;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  height: 110px;
  margin-bottom: 21px;
}
@media (max-width: 600px) {
  .excursions .tour-hotels .tabs-content .flex img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 200px;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    height: 150px;
  }
}
@media (max-width: 320px) {
  .excursions .tour-hotels .tabs-content .flex img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    height: auto;
  }
}
.excursions .tour-hotels .tabs-content .content {
  background: #fff;
  padding: 20px;
}
.excursions .tour-hotels .tabs-content .content.active {
  border: 1px solid #ff7800;
}
.excursions .tour-hotels .tabs-content .content dl,
.excursions .tour-hotels .tabs-content .content p {
  font-size: 14px;
  color: #000;
}
.excursions .tour-hotels .tabs-content .content dt {
  font-size: 16px;
  font-family: 'open_sanssemibold';
  margin-bottom: 0;
}
.excursions .tour-gallery .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.excursions .tour-gallery img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 300px;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px;
  margin: 0 auto 20px auto;
}
.excursions .popup {
  background: #fff;
  padding: 15px 20px;
  width: 340px;
  box-shadow: 0 0 10px #999;
  position: absolute;
  z-index: 100;
}
.excursions .popup:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -15px;
  margin-top: -7px;
  border-top: 15px solid transparent;
  border-left: 15px solid #fff;
  border-bottom: 15px solid transparent;
}
.excursions .popup .date {
  padding-bottom: 15px;
  border-bottom: 1px solid #ff7800;
  font-size: 18px;
  font-family: 'open_sanssemibold';
}
.excursions .popup .hotel-type {
  font-family: 'open_sanssemibold';
  font-size: 15px;
  padding: 10px 0;
}
.excursions .popup .form {
  padding-bottom: 15px;
  border-bottom: 1px solid #ff7800;
  margin-bottom: 20px;
}
.excursions .popup .form label {
  font-size: 14px;
}
.excursions .popup .popup-button button {
  padding: 10px 30px;
  font-size: 15px;
}
.excursions .popup table {
  border: 0;
  width: 100%;
  margin-bottom: 0;
}
.excursions .popup table tr {
  background: #fff;
}
.excursions .popup table tr td {
  color: #000;
  padding: 1px 5px 1px 0;
  line-height: 1;
}
.excursions .popup table tr td.room-price {
  color: #ff7800;
  font-size: 16px;
  font-family: 'open_sanssemibold';
  text-align: right;
}
@media only screen and (max-width: 40em) {
  .excursions .reveal-modal {
    min-height: 0;
  }
}
.excursions .booking-steps {
  max-width: 940px;
  padding: 0;
}
.excursions .booking-steps .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.excursions .booking-steps .left-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 375px;
  -ms-flex: 0 0 375px;
  flex: 0 0 375px;
  margin-top: -52px;
}
.excursions .booking-steps .left-box img {
  width: 100%;
}
@media (max-width: 939px) {
  .excursions .booking-steps .left-box {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
  }
}
@media (max-width: 767px) {
  .excursions .booking-steps .left-box {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-top: 0;
    text-align: center;
  }
}
.excursions .booking-steps .left-box h6 {
  text-transform: uppercase;
}
.excursions .booking-steps .left-box p {
  font-size: 14px;
  margin: 0;
}
.excursions .booking-steps .left-box a {
  font-size: 14px;
  text-decoration: underline;
}
.excursions .booking-steps .left-box a:hover {
  text-decoration: none;
}
.excursions .booking-steps .left-box .info {
  padding: 20px;
}
.excursions .booking-steps .right-box {
  background: #e9e9e9;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 20px;
}
@media (max-width: 939px) {
  .excursions .booking-steps .right-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 65%;
    -ms-flex: 1 0 65%;
    flex: 1 0 65%;
  }
}
@media (max-width: 767px) {
  .excursions .booking-steps .right-box {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
.excursions .booking-steps .tabs {
  margin-left: 375px;
}
@media (max-width: 939px) {
  .excursions .booking-steps .tabs {
    margin-left: 35%;
  }
}
@media (max-width: 767px) {
  .excursions .booking-steps .tabs {
    margin-left: 0;
  }
}
.excursions .booking-steps .tabs .tab-title {
  width: 25%;
}
.excursions .booking-steps .tabs .tab-title.disabled,
.excursions .booking-steps .tabs .tab-title a {
  background: #a0a0a0;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
.excursions .booking-steps .tabs .tab-title.active a {
  background: #e9e9e9;
  color: #ff7800;
}
.excursions .booking-steps .tabs-content .content {
  padding: 0;
}
.excursions .booking-steps .tabs-info-body {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  padding-top: 20px;
  margin-bottom: 20px;
}
.excursions .booking-steps .tabs-info-body+.tabs-info-body {
  border-top: 0;
  margin-top: -20px;
}
.excursions .booking-steps .tabs-info-body h6 {
  text-transform: none;
  margin-top: 0;
}
.excursions .booking-steps .tabs-info-body table {
  border: 0;
  width: 100%;
  margin-bottom: 15px;
}
.excursions .booking-steps .tabs-info-body table td {
  background: #fff;
  font-size: 13px;
  padding: 0;
  line-height: 1.4;
}
@media (max-width: 599px) {
  .excursions .booking-steps .tabs-info-body table td {
    font-size: 11px;
  }
}
.excursions .booking-steps .tabs-info-body table tfoot {
  border-top: 1px solid #ddd;
}
.excursions .booking-steps .tabs-info-body table tfoot td {
  padding-top: 15px;
}
.excursions .booking-steps .tabs-content-body {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  padding-top: 20px;
}
.excursions .booking-steps .tabs-content-body label {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5px;
}
.excursions .booking-steps .tabs-content-body label span {
  text-transform: none;
  margin-top: 5px;
}
.excursions .booking-steps .tabs-content-body label.cb-radio {
  margin: 0 0 10px 0;
  background: #fff;
  padding: 10px 10px 8px 10px;
  display: block;
  border: 1px solid #a0a0a0;
}
.excursions .booking-steps .tabs-content-body label.cb-radio:last-child {
  margin-bottom: 20px;
}
.excursions .booking-steps .tabs-content-body label.cb-radio img {
  vertical-align: middle;
}
.excursions .booking-steps .tabs-content-body select,
.excursions .booking-steps .tabs-content-body input {
  padding: 3px 7px 2px;
  font-size: 15px;
  font-family: 'open_sanssemibold';
  line-height: 1;
  height: 30px;
}
.excursions .booking-steps .tabs-content-body input::-webkit-input-placeholder {
  font-size: 14px;
  color: #8a8a8a;
  line-height: 1.5;
  font-weight: normal;
  font-family: 'open_sansregular';
}
.excursions .booking-steps .tabs-content-body input::-moz-placeholder {
  font-size: 14px;
  color: #8a8a8a;
  line-height: 1.5;
  font-weight: normal;
  font-family: 'open_sansregular';
}
.excursions .booking-steps .tabs-content-body input:-ms-input-placeholder {
  font-size: 14px;
  color: #8a8a8a;
  line-height: 1.5;
  font-weight: normal;
  font-family: 'open_sansregular';
}
.excursions .booking-steps .button-yellow {
  padding: 5px 25px;
  font-size: 15px;
  margin-top: 20px;
}
.articles .header {
  background: url("../img/bg-articles.jpg") no-repeat;
  min-height: 435px;
  background-size: cover;
  background-position: center;
}
.articles .welcome-text .logo-text {
  margin-bottom: 70px;
}
.articles .nav-bottom {
  position: absolute;
}
.articles .main {
  margin-bottom: 0;
}
.articles .aside ul {
  list-style: none;
  margin: 0;
}
.articles .aside ul.aside-menu {
  background: #f2f1f1;
}
.articles .aside ul.aside-menu >li {
  padding: 20px 10px;
  border-bottom: 1px solid #d4d4d4;
}
.articles .aside ul.aside-menu ul {
  display: none;
}
.articles .aside ul.aside-menu ul.third-line li {
  padding-left: 10px;
}
.articles .aside ul.aside-menu ul.open {
  display: block;
}
.articles .aside ul a {
  color: #2c2c2c;
  font-size: 13px;
  text-decoration: underline;
}
.articles .aside ul a:hover {
  text-decoration: none;
}
.articles .aside ul a.active {
  color: #ff7800;
}
.articles .aside ul a.aside-link {
  font-size: 16px;
  color: #000;
  font-family: 'open_sanssemibold';
  text-decoration: none;
}
.articles .aside ul .img-flag {
  margin-right: 10px;
}
.articles .articles-main .articles-heading {
  color: #ff7800;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 20px;
}
.articles .articles-main .map-block {
  height: 265px;
  margin-bottom: 20px;
}
.articles .articles-main p {
  font-size: 14px;
  text-indent: 20px;
  margin-bottom: 2px;
}
.articles .articles-main .offer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.articles .articles-main .offer-wrap .offer {
  margin-bottom: 28px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 48%;
  -ms-flex: 0 1 48%;
  flex: 0 1 48%;
}
@media (max-width: 599px) {
  .articles .articles-main .offer-wrap .offer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}
.articles .articles-main .offer-wrap .offer .card-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 160px;
  -ms-flex: 1 0 160px;
  flex: 1 0 160px;
}
.articles .articles-main .articles-info {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 15px;
}
.articles .articles-main .articles-info dl {
  font-size: 14px;
  font-family: 'open_sanssemibold';
  color: #000;
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .articles .articles-main .articles-info dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .articles .articles-main .articles-info dl dt {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 5px;
  }
}
.articles .articles-pager {
  margin-bottom: 20px;
}
.articles .articles-pager a {
  font-family: 'open_sanssemibold';
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-block;
}
@media (min-width: 600px) {
  .articles .articles-pager a+a {
    margin-left: 30px;
  }
}
@media (max-width: 599px) {
  .articles .articles-pager a {
    display: block;
    font-size: 10px;
  }
}
.articles .articles-pager a.next:after {
  content: "\00bb";
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 1;
}
.articles .articles-pager a.prev:before {
  content: "\00ab";
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 1;
}
.articles .articles-form {
  background: url("../img/form-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 255px;
}
.articles .articles-form h2 {
  color: #fff;
  margin: 20px 0;
}
.articles .articles-form .button-yellow {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open_sanssemibold';
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
.cb-radio .cb-inner {
  background: #fff;
}
.cb-checkbox:hover .cb-inner,
.cb-radio:hover .cb-inner {
  border-color: #ff7800;
}
.cb-radio.checked i {
  background-color: #ff7800;
}
.button-yellow {
  background: #ffc600;
  color: #000;
  border-bottom: 3px solid #b28b00;
  border-radius: 4px;
  text-transform: uppercase;
  text-shadow: 0 2px 2px #ffdc61;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 45px;
  margin: 0;
  font-family: 'open_sanssemibold';
}
.button-yellow:hover,
.button-yellow:focus {
  background: #ffc600;
  color: #666;
}
.button-outline {
  background: transparent;
  color: #015faf;
  border: 1px solid #015faf;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 4px;
  padding: 10px 25px;
}
.button-outline:hover {
  background: #015faf;
}
.breadcrumbs-box {
  border-bottom: 1px solid #d4d4d4;
  padding: 5px 0;
}
.breadcrumbs {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 15px 10px;
}
.breadcrumbs a {
  color: #5d5d5d;
  text-transform: none;
  font-family: 'open_sanssemibold';
  font-size: 14px;
}
.breadcrumbs li:before {
  content: "\00bb";
  top: 0;
  margin: 0 5px;
}
.breadcrumbs .current a {
  color: #000;
}
@media (max-width: 40.063em) {
  .tooltip.tip-top {
    background: #fff;
    color: #2c2c2c;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 5px;
  }
  .tooltip.tip-top >.nub {
    position: absolute;
    border: none;
    border-bottom: 7px solid #ddd;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: auto;
    top: 10px;
    left: 5px;
  }
  .tooltip.tip-top >.nub:after {
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: '';
    position: absolute;
    left: -7px;
    top: 1px;
  }
}
@media (min-width: 40.063em) {
  .tooltip.tip-top {
    background: #fff;
    color: #2c2c2c;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 7px;
  }
  .tooltip.tip-top >.nub {
    position: absolute;
    border: none;
    border-top: 7px solid #ddd;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 5px;
    bottom: -7px;
  }
  .tooltip.tip-top >.nub:after {
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: '';
    position: absolute;
    left: -7px;
    bottom: 1px;
  }
}
.calendar-wrap {
  padding: 2px;
}
.calendar-wrap .month {
  background: #ff7800;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}
.calendar-wrap .calendar {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
  margin: 0 auto;
  border-top: 0;
}
.calendar-wrap .calendar th,
.calendar-wrap .calendar td {
  background: #fff;
  padding: 0;
  height: 37px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
}
.calendar-wrap .calendar td.day {
  padding: 5px;
  background: #e1e1e1;
}
.calendar-wrap .calendar td.day.available {
  background: #ff7800;
}
@media (min-width: $screen-sm-min) {
  html body,
  .flexbox body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  html body main,
  .flexbox body main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
@media (min-width: 940px) {
  html,
  .flexbox {
    overflow-x: hidden;
  }
}
body {
  margin: 0;
  color: #2c2c2c;
  font-family: 'open_sansregular';
}
.row {
  max-width: 2000px;
}
.wrap {
  padding: 0 45px;
}
@media (max-width: 1349px) {
  .wrap {
    padding: 0 20px;
  }
}
@media (max-width: 499px) {
  .wrap {
    padding: 0 15px;
  }
}
.container {
  width: 940px;
  margin: 0 auto;
}
@media (max-width: 940px) {
  .container {
    width: 100% !important;
  }
}
.header {
  position: relative;
  min-height: 436px;
  background: url("../img/holland-canal.jpg") no-repeat;
  background-size: cover;
}
.main {
  margin-bottom: 30px;
}
.offers-spec .offer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.offers-spec .offer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 30%;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
  margin-bottom: 10px;
  min-width: 30%;
}
@media (max-width: 767px) {
  .offers-spec .offer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .offers-spec .offer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
  }
  .offers-spec .offer:nth-child(3n),
  .offers-spec .offer:last-child {
    margin-right: 0;
  }
}
@media (max-width: 499px) {
  .datepicker {
    left: 0 !important;
    top: 100px !important;
  }
  .datepicker.datepicker-dropdown.date-2:before,
  .datepicker.datepicker-dropdown.date-1:before {
    border-bottom: 7px solid #ccc;
    border-top: 0;
    top: -7px;
    bottom: auto;
  }
  .datepicker.datepicker-dropdown.date-2:after,
  .datepicker.datepicker-dropdown.date-1:after {
    border-bottom: 6px solid #fff;
    border-top: 0;
    top: -6px !important;
    bottom: auto;
  }
  .datepicker.datepicker-dropdown.date-2:before {
    right: 6px;
    left: auto;
  }
  .datepicker.datepicker-dropdown.date-2:after {
    right: 7px;
    left: auto;
  }
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-stage,
.owl-carousel .owl-item,
.owl-carousel .card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.owl-carousel .card {
  width: 100%;
}
.owl-carousel .card-link {
  width: 100%;
}
@media (max-width: 479px) {
  .owl-carousel .owl-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .owl-carousel .card,
  .owl-carousel .card-link {
    width: 90%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.owl-carousel .card-image {
  min-width: 100%;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
@media (min-width: 480px) {
  .owl-carousel .card-image {
    max-height: 300px !important;
  }
}
@media (max-width: 479px) {
  .owl-carousel .card-image {
    width: auto;
    min-width: 1px;
  }
}
.owl-carousel .card-info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 28px;
  -ms-flex: 0 0 28px;
  flex: 0 0 28px;
  box-sizing: content-box;
}
.owl-carousel .owl-controls {
  position: absolute;
  top: 40%;
  width: 100%;
}
.owl-carousel .owl-controls .owl-nav {
  position: relative;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
  position: absolute;
  left: -35px;
  background: url("../img/arrow.png") no-repeat;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 479px) {
  .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 0;
  }
}
.owl-carousel .owl-controls .owl-nav .owl-next {
  position: absolute;
  right: -35px;
  background: url("../img/arrow.png") no-repeat;
  width: 25px;
  height: 25px;
}
@media (max-width: 479px) {
  .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0;
  }
}
