
<footer class="footer clearfix">
  <div class="wrap">
    <div class="flex">
      <div class="flex-item footer-left"><a href="#"><img src="img/logo-grey.png"/></a>
        <p class="logo-text">Представительство европейского туроператора<br/>ADEX International в РФ.<br/>Реестровый номер МТ3 013021</p>
      </div>
      <div class="flex-item">
        <h6>КОНТАКТЫ</h6>
        <div class="phones">+7 (495) 785-96-06<br/>+7 (495) 785-96-06<br/>+7 (495) 785-96-06<br/><br/>ООО"Амстел Трэвел" 127051 г. Москва Луков переулок, дом 10<br/><br/></div><a href="mailto:help@amstel.su">help@amstel.su</a>
      </div>
      <div class="flex-item">
        <h6>Меню</h6>
        <ul>
          <li><a href="#">Групповые туры</a></li>
          <li><a href="#">Отели</a></li>
          <li><a href="#">Экскурсии</a></li>
          <li><a href="#">Трансферы</a></li>
          <li><a href="#">Деловой туризм</a></li>
          <li><a href="#">Авторские туры</a></li>
          <li><a href="#">Визы</a></li>
          <li><a href="#">Для турагенств</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="flex-item">
        <h6>Предложения</h6>
        <ul>
          <li><a href="#">Туры в Голландию</a></li>
          <li><a href="#">Туры в Бельгию</a></li>
          <li><a href="#">Туры в Германию</a></li>
          <li><a href="#">Экскурсии Амстердам</a></li>
          <li><a href="#">Экскурсии в Германии</a></li>
        </ul>
      </div>
      <div class="flex-item footer-right">
        <h6>Подписка</h6>
        <p>Подпишитесь на наши обновления и получите самые эксклюзивные предложения на почту!</p>
        <form>
          <input type="text" placeholder="Электронная почта" name="email" id="email"/>
          <button type="submit" class="button-outline">Подписаться</button>
        </form>
        <div class="social"><a href="#"><i class="flaticon-instagram"></i></a><a href="#"><i class="flaticon-tw"></i></a><a href="#"><i class="flaticon-facebook"></i></a><a href="#"><i class="flaticon-youtube"></i></a><a href="#"><i class="flaticon-blogger"></i></a><a href="#"><i class="flaticon-pinterest"></i></a><a href="#"><i class="flaticon-odnolassniki"></i></a></div>
      </div>
    </div>
  </div>
</footer>