nav.top-bar.show-for-small
	.off-canvas-wrap(data-offcanvas)
		.inner-wrap
			.tab-bar.clearfix
				a.left: img(src="img/logo.png")
				a.right-off-canvas-toggle.menu-icon.right(href="#")
					span
			aside.right-off-canvas-menu
				ul.off-canvas-list
					li: a(href="#") Групповые туры
					li: a(href="#") Отели
					li: a(href="#") Экскурсии
					li: a(href="#") Трансферы
					li: a(href="#") Деловой туризм
					li: a(href="#") Авторские туры
					li: a(href="#") Визы
					li: a(href="#") Для турагенств
					li: a(href="#") Контакты
					li.phones
						div +7 (495) 785-96-06
						div +7 (495) 790-40-65
						div +7 (495) 223-12-68