.nav.clearfix
	.nav-wrap
		.wrap
			.row
				nav.top-bar(data-topbar role="navigation")
					ul.title-area
						li
							a(href="#"): img.logo(src="img/logo.png")
						li.toggle-topbar.menu-icon
							a(href="#"): span
					section.top-bar-section
						ul.left.inline-list
							li: a(href="#") Групповые туры
							li: a(href="#") Отели
							li: a(href="#") Экскурсии
							li: a(href="#") Трансферы
							li: a(href="#") Деловой туризм
							li: a(href="#") Авторские туры
							li: a(href="#") Визы
							li: a(href="#") Для турагенств
							li: a(href="#") Контакты
						ul.right.phones
							li: img(src="img/phone.png")
							li
								div +7 (495) 785-96-06
								div +7 (495) 790-40-65
								div +7 (495) 223-12-68
