.nav-bottom
	.container
		ul.inline-list
			li: a(href="#") Визы
			li: a(href="#") Деловой туризм
			li: a(href="#") Групповые туры
			li: a(href="#") Авторские туры
			li: a(href="#") Авиабилеты online