.nav-wrap
	background: rgba(255, 255, 255, 0.4)
	width: 100%
	// @media (min-width: 1024px)
	// 	min-height: 90px
	@media (min-width: 1024px)
		position: fixed
	&.scrolled
		background: rgba(255, 255, 255, 0.9)
		transition: background 3s
		box-shadow: 0 2px 10px #000
		z-index: 1000
		.menu-icon a span:after
			box-shadow: 0 0 0 1px #999, 0 7px 0 1px #999, 0 14px 0 1px #999
			margin-top: 5px
.top-bar
	background: transparent
	height: auto
	@media (max-width: 1023px)
		height: 55px
	@media (max-width: 499px)
		height: 40px
	.logo
		margin-right: 30px
		margin-top: 15px
		@media (max-width: 1350px)
			width: 60px
			margin-right: 15px
			margin-top: 12px
		@media (max-width: 1023px)
			margin-top: 5px
		@media (max-width: 499px)
			width: 40px
	.title-area
		background: transparent !important
	.top-bar-section
		ul
			&.inline-list
				li
					margin: 0
					min-width: 75px
					a
						// margin: 30px 0
						padding: 0 10px !important
						display: block
						line-height: 30px
						font-size: 12px
						position: relative
					@media (max-width: 1023px)
						float: none
					@media (min-width: 1024px) and (max-width: 1085px)
						min-width: 0
					@media (min-width: 1024px)
						a
							padding: 30px 7px !important
							&:before
								content: ''
								border-left: 1px solid rgba(255,255,255,0.8)
								position: absolute
								left: 0
								height: 30px
						&:last-child a:after
							content: ''
							border-left: 1px solid rgba(255,255,255,0.8)
							position: absolute
							right: 0
							height: 30px
						&:hover
							background: #fff
							a
								color: #ff6000
							&+li
								a:before
									border-left: 1px solid transparent
							a:before
								border-left: 1px solid transparent
					@media (min-width: 1024px) and (max-width: 1350px)
						a
							font-size: 10px !important
					@media (min-width: 1599px)
						a
							font-size: 13px
			li
				background: transparent
				text-align: center
				white-space: nowrap
				a
					text-transform: uppercase
					background: transparent !important
					padding: 0!important
					color: #333

			&.phones
				margin-top: 10px
				img
					margin: 15px 8px 0 0
				@media (max-width: 1023px)
					margin-bottom: 15px
					img
						margin: 10px 0
				// @media (min-width: 802px) and (max-width: 1023px)
				// 	display: none
				@media (min-width: 1024px) and (max-width: 1350px)
					img
						width: 22px
					li>div
						font-size: 12px
						// display: inline-block
						// margin-left: 15px
						// margin-top: 30px
