.nav-bottom
	position: fixed
	width: 100%
	left: 0
	bottom: 0
	background: rgba(0,0,0,0.3)
	@media (max-width: 599px)
		position: absolute
	@media (min-height: 800px)
		position: absolute
	@media (min-width: 768px)
		height: 65px
	&.fix
		@media (min-width: 1024px)
			position: fixed !important
			top: 90px
		background: rgba(0, 0, 0, 0.7)
		transition: background 3s
		z-index: 1000
		// a
			// color: $base !important
	.inline-list
		margin: 0
		display: flex
		justify-content: space-between
		li
			margin: 0
			text-align: center
			a
				padding: 20px 0
				color: #fff
				font-size: 16px
				text-transform: uppercase
				text-decoration: underline
				font-family: 'open_sanssemibold'
				&:hover
					color: $color-orange
					text-decoration: none
		@media (max-width: 767px)
			li a
				padding: 10px
				font-size: 13px
		@media (max-width: 320px)
			display: block
			li
				float: none
				a
					padding: 3px