.nav-bottom
	.container
		ul.inline-list
			li: a(data-scroll href="#tour-program") Программа тура
			li: a(data-scroll href="#tour-prices") Цена
			li: a(data-scroll href="#tour-hotels") Гостиницы
			li: a(data-scroll href="#map") Карта
			li: a(data-scroll href="#tour-gallery") Фотогалерея