
<nav class="top-bar show-for-small">
  <div data-offcanvas="data-offcanvas" class="off-canvas-wrap">
    <div class="inner-wrap">
      <div class="tab-bar clearfix"><a class="left"><img src="img/logo.png"/></a><a href="#" class="right-off-canvas-toggle menu-icon right"><span></span></a></div>
      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><a href="#">Групповые туры</a></li>
          <li><a href="#">Отели</a></li>
          <li><a href="#">Экскурсии</a></li>
          <li><a href="#">Трансферы</a></li>
          <li><a href="#">Деловой туризм</a></li>
          <li><a href="#">Авторские туры</a></li>
          <li><a href="#">Визы</a></li>
          <li><a href="#">Для турагенств</a></li>
          <li><a href="#">Контакты</a></li>
          <li class="phones">
            <div>+7 (495) 785-96-06</div>
            <div>+7 (495) 790-40-65</div>
            <div>+7 (495) 223-12-68</div>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</nav>