
<div class="nav-bottom">
  <div class="container">
    <ul class="inline-list">
      <li><a href="#">Визы</a></li>
      <li><a href="#">Деловой туризм</a></li>
      <li><a href="#">Групповые туры</a></li>
      <li><a href="#">Авторские туры</a></li>
      <li><a href="#">Авиабилеты online</a></li>
    </ul>
  </div>
</div>