
<div class="nav clearfix">
  <div class="nav-wrap">
    <div class="wrap">
      <div class="row">
        <nav data-topbar="data-topbar" role="navigation" class="top-bar">
          <ul class="title-area">
            <li><a href="#"><img src="img/logo.png" class="logo"/></a></li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="left inline-list">
              <li><a href="#">Групповые туры</a></li>
              <li><a href="#">Отели</a></li>
              <li><a href="#">Экскурсии</a></li>
              <li><a href="#">Трансферы</a></li>
              <li><a href="#">Деловой туризм</a></li>
              <li><a href="#">Авторские туры</a></li>
              <li><a href="#">Визы</a></li>
              <li><a href="#">Для турагенств</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
            <ul class="right phones">
              <li><img src="img/phone.png"/></li>
              <li>
                <div>+7 (495) 785-96-06</div>
                <div>+7 (495) 790-40-65</div>
                <div>+7 (495) 223-12-68</div>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>
</div>