
<div class="nav-bottom">
  <div class="container">
    <ul class="inline-list">
      <li><a data-scroll="data-scroll" href="#tour-program">Программа тура</a></li>
      <li><a data-scroll="data-scroll" href="#tour-prices">Цена</a></li>
      <li><a data-scroll="data-scroll" href="#tour-hotels">Гостиницы</a></li>
      <li><a data-scroll="data-scroll" href="#map">Карта</a></li>
      <li><a data-scroll="data-scroll" href="#tour-gallery">Фотогалерея</a></li>
    </ul>
  </div>
</div>