.footer
	background: #dad9d9
	color: #8a8a8a
	padding: 25px 0
	.logo-text
		font-size: 12px
		margin-top: 15px
		margin-bottom: 0
		line-height: 1.3
	p
		font-size: 15px
	.flex
		display: flex
		justify-content: center
		flex-wrap: wrap
	.flex-item
		flex: 0 1 300px
		order: 1
		margin-bottom: 20px
		padding: 0 10px
		font-size: 15px
		@media (max-width: 320px)
			padding: 0
	.footer-left
		flex: 0 1 440px
	h6
		border-bottom: 1px solid #b4b4b4
		padding-bottom: 25px
		margin-top: 0
		text-transform: uppercase
		color: $black
		font-family: 'open_sanssemibold'
	ul
		list-style: none
		margin-left: 0
		li
			line-height: 1
		a
			font-size: 15px
			color: #8a8a8a
			&:hover
				opacity: 0.7
	form input
		font-size: 13px
	.social
		display: flex
		justify-content: space-between
		a
			color: #8a8a8a
			&:hover
				opacity: 0.5
		i
			display: block
			width: 30px
			height: 30px
			border: 2px solid #8a8a8a
			border-radius: 50%
			text-align: center
			@media (max-width: 599px)
				line-height: 25px
			&:before
				margin: 0
				vertical-align: middle
				font-size: 15px
				line-height: 1
	@media (max-width: 1600px)
		.footer-left
			order: 5
			a
				display: block
				float: left
				margin-right: 20px
				height: 80px
.with-booking-box
	.footer
		padding-bottom: 135px