
<div class="articles-form">
  <div class="wrap">
    <div class="container">
      <form>
        <div class="row">
          <div class="row small-collapse medium-uncollapse">
            <h2 class="text-center">Получите эксклюзивное предложение</h2>
            <div class="small-12 medium-6 medium-offset-3 large-4 large-offset-0 column">
              <input type="text" placeholder="Ваше имя" name="name" id="name"/>
            </div>
            <div class="small-12 medium-6 medium-offset-3 large-4 large-offset-0 column">
              <input type="text" placeholder="Контактный телефон" name="phone" id="phone"/>
            </div>
            <div class="small-12 medium-6 medium-offset-3 large-4 large-offset-0 column">
              <input type="email" placeholder="Электронная почта" name="email" id="email"/>
            </div>
          </div>
          <div class="row small-collapse medium-uncollapse">
            <div class="small-12 medium-6 large-4 medium-offset-3 large-offset-4 column">
              <button type="submit" class="button button-yellow">Получить предложение!</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>