
<div class="aside column medium-4 large-3">
  <ul class="aside-menu">
    <li><a href="#" class="aside-link"><img src="img/flags/netherlands.png" class="img-flag"/>Голландия</a>
      <ul class="second-line">
        <li><a href="#" class="second-line-link active">Экскурсии</a>
          <ul class="third-line">
            <li><a href="#">1 Item</a></li>
            <li><a href="#">2 Item</a></li>
          </ul>
        </li>
        <li><a href="#">Полезная информация</a></li>
        <li><a href="#">Ярмарки и выставки</a></li>
        <li><a href="#">Парки развлечений</a></li>
        <li><a href="#">Достопримечательности</a></li>
        <li><a href="#">Национальная кухня</a></li>
        <li><a href="#">Национальные праздники</a></li>
        <li><a href="#">Природа и окружающая среда</a></li>
        <li><a href="#">Туры в Амстердам</a></li>
        <li><a href="#">Туризм в Амстердаме</a></li>
        <li><a href="#">Погода в Амстердаме</a></li>
        <li><a href="#">Туры в Амстердам на майские праздники</a></li>
        <li><a href="#">Викенд в Амстердаме</a></li>
        <li><a href="#">Туры в Нидерланды</a></li>
        <li><a href="#">Туры по Голландии</a></li>
        <li><a href="#">Экскурсии а Амстердаме</a></li>
        <li><a href="#">Экскурсионные туры в Голландии</a></li>
        <li><a href="#">Экскурсии в Голландии</a></li>
        <li><a href="#">Экскурсии в Нидерландах</a></li>
        <li><a href="#">Достопримечательности Голландии</a></li>
        <li><a href="#">Площадь Голландии</a></li>
        <li><a href="#">Природа Голландии</a></li>
        <li><a href="#">Все о Голландии</a></li>
        <li><a href="#">Курорты Северного моря</a></li>
      </ul>
    </li>
    <li><a href="#" class="aside-link"><img src="img/flags/germany.png" class="img-flag"/>Германия</a>
      <ul class="second-line">
        <li><a href="#" class="second-line-link active">Экскурсии</a></li>
        <li><a href="#">Полезная информация</a></li>
        <li><a href="#">Ярмарки и выставки</a></li>
      </ul>
    </li>
    <li><a href="#" class="aside-link"><img src="img/flags/belgium.png" class="img-flag"/>Бельгия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/italy.png" class="img-flag"/>Италия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/switzerland.png" class="img-flag"/>Швейцария</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/hungary.png" class="img-flag"/>Венгрия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/austria.png" class="img-flag"/>Австрия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/slovenia.png" class="img-flag"/>Словения</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/france.png" class="img-flag"/>Франция</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/spain.png" class="img-flag"/>Испания</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/czech-republic.png" class="img-flag"/>Чехия</a></li>
    <li><a href="#" class="aside-link"><img src="img/flags/luxembourg.png" class="img-flag"/>Люксембург</a></li>
  </ul>
</div>