@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon/flaticon.eot");
	src: url("../fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon/flaticon.woff") format("woff"),
	url("../fonts/flaticon/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-tw:before {
	content: "\e000";
}
.flaticon-blogger:before {
	content: "\e001";
}
.flaticon-facebook:before {
	content: "\e002";
}
.flaticon-pinterest:before {
	content: "\e003";
}
.flaticon-instagram:before {
	content: "\e004";
}
.flaticon-odnolassniki:before {
	content: "\e005";
}
.flaticon-youtube:before {
	content: "\e006";
}
