.heading-wrap
	position: relative
	margin: 50px 0
	@media (max-width: 767px)
		margin: 25px 0
	.heading-line
		position: absolute
		top: 50%
		width: 100%
		z-index: 0
		left: 0
		hr
			margin: 0
		@media (max-width: 499px)
			display: none
	.heading-title
		position: relative
		z-index: 1
		padding: 0 20px
		background: #fff
		display: inline-block
		h4
			margin: 0
			text-transform: uppercase
			@media (max-width: 767px)
				font-size: 17px