.offers-spec
	include ../../blocks/card/_card.jade
	include ../../blocks/heading/_heading.jade
	.wrap
		.row
			+heading("СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ")
			.offer-wrap
				.offer
					+card("img/amsterdam.jpg","Сказочный Амстердам", "56 220 руб.", "52 200 руб.", "#", "Сказочный Амстердам")(class="card__offers")
				.offer
					+card("img/belgia.jpg","Романтичная Бельгия","64 950 руб.", "58 950 руб.", "#", "Романтичная Бельгия")(class="card__offers")
				.offer
					+card("img/amsterdam.jpg","Офигительный Бенилюкс", "19 925 руб.", "17 925 руб.", "#", "Офигительный Бенилюкс")(class="card__offers")

