include ../../blocks/heading/_heading.jade
include ../../blocks/card/_card.jade
.wrap
	.row
		.tours-mix
			+heading("КОМБИНИРОВАННЫЕ ТУРЫ")
			.owl-carousel
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				//- .slide
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")