include ../../blocks/heading/_heading.jade
include ../../blocks/card/_card.jade
.wrap
	.row
		.tour-concrete
			+heading("НИДЕРЛАНДЫ")
			.owl-carousel
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")
				+card("img/amsterdam-summer.jpg","СКАЗОЧНЫЙ АМСТЕРДАМ", "", "56 220 руб.", "#", "Сказочный Амстердам")(class="card__mix")