
<div class="offers-spec">
  <div class="wrap">
    <div class="row">
        <div class="heading-wrap text-center">
          <div class="heading-line">
            <hr/>
          </div>
          <div class="heading-title">
            <h4>СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</h4>
          </div>
        </div>
      <div class="offer-wrap">
        <div class="offer">
            <div class="card clearfix card__offers"><a href="#" class="card-link"><img src="img/amsterdam.jpg" class="card-image"/>
                <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Сказочный Амстердам" class="tip-top radius title-icon"/><span class="title">Сказочный Амстердам</span>
                  <div class="prices right">
                    <div class="price-old">56 220 руб.</div>
                    <div class="price-new">52 200 руб.</div>
                  </div>
                </div></a></div>
        </div>
        <div class="offer">
            <div class="card clearfix card__offers"><a href="#" class="card-link"><img src="img/belgia.jpg" class="card-image"/>
                <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Романтичная Бельгия" class="tip-top radius title-icon"/><span class="title">Романтичная Бельгия</span>
                  <div class="prices right">
                    <div class="price-old">64 950 руб.</div>
                    <div class="price-new">58 950 руб.</div>
                  </div>
                </div></a></div>
        </div>
        <div class="offer">
            <div class="card clearfix card__offers"><a href="#" class="card-link"><img src="img/amsterdam.jpg" class="card-image"/>
                <div class="card-info"><img src="img/i.png" data-tooltip="data-tooltip" title="Офигительный Бенилюкс" class="tip-top radius title-icon"/><span class="title">Офигительный Бенилюкс</span>
                  <div class="prices right">
                    <div class="price-old">19 925 руб.</div>
                    <div class="price-new">17 925 руб.</div>
                  </div>
                </div></a></div>
        </div>
      </div>
    </div>
  </div>
</div>